@import "../../../style/mixin";


.announce_board_list {
  width: 100%;
  height: auto;
  margin-top: 5px;


  .board_header {
    font-family: var(--font-family-Noto-M);
    height: 45px;
    font-size: 17px;
    border-top: 2px solid #DCDCDC;
    background-color: #EEEEEE;
  }

  .board_container {
    width: 100%;
    height: auto;

    .board_content {
      font-family: var(--font-family-Noto-R);
      height: 60px;
      font-size: 17px;
      border-top: 1px solid #DCDCDC;
      border-bottom: 1px solid #DCDCDC;
      text-align: center;
    }
  }
}

.main_bottom {
  position: absolute;
  bottom: 8%;
  width: 94%;
  display: flex;
  align-items: center;
  font-family: var(--font-family-Noto-R);
}

.announce_main_bottom {
  font-family: var(--font-family-Noto-R);
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  // margin-top: 11%;

  .attachment_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .attachment_name {
    color: #9E9E9E;
  }
}

.LaptopInput {
  display: none;
}

.write_container {
  .write_title {
    font-family: var(--font-family-Noto-B);
    font-size: 32px;
    color: #000;
  }

  .write_title::placeholder {
    color: #000;
    font-weight: 500;
  }

  .write_title:focus-visible {
    outline: none !important;
  }

  .writor_container {
    font-family: var(--font-family-Noto-R);
    display: flex;
    gap: 10px;
    margin: 10px 0;

    .write_info {
      color: #9E9E9E
    }

    .write_border {
      border-right: 1px solid black;
    }
  }
}


.detail_container {
  font-family: var(--font-family-Noto-R);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
  padding: 0 15px;

  .info_content {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    .write_info {
      color: #9E9E9E
    }

    .write_border {
      border-right: 1px solid black;
    }
  }

  .btn_content {
    display: flex;
    position: relative;
    top: -10px;
    gap: 10px;
  }
}

.detail_content {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.detail_content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.detail_content::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.detail_content::-webkit-scrollbar-corner {
  background-color: none;
}

.detail_content::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #fff;
}



@include laptop {
  .announce_board_list {

    .board_container {
      .board_content {
        height: 42px;
      }
    }
  }

  .DesktopInput {
    display: none;
  }

  .LaptopInput {
    display: block;
  }
}