.Message-contents {
  background-color: #fff;
  width: 100vw;
  height: 100vh;

  .Message-header {
    padding-left: 23px;
    height: 56px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-Noto-M);

    div {
      display: flex;
      flex-direction: row;
      gap: 14px;
    }

    .UpperIconBar {
      margin-right: 25px;
      gap: 15px;

      .UserManagementIcon,
      .SearchIcon {
        cursor: pointer;
      }
    }
  }

  .Message-container {
    padding: 24px 30px 20px 30px;
    margin: 5px 5px 0 0;
    position: relative;
    height: calc(100vh - 170px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#727272, 0.66);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    .Message {
      display: flex;
      align-items: flex-start;
      font-family: var(--font-family-Noto-M);
      margin-bottom: 30px;

      .userCircleIcon {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }

      .RightBox {
        margin-left: 9px;
        display: flex;
        flex-direction: column;
        gap: 7px;

        .MsgTimeBox {
          display: flex;
          align-items: flex-end;

          .MsgTime {
            margin-left: 5px;
            font-size: 14px;
            color: #929292;
          }
        }

        .NoticeBox {
          position: relative;
          width: 621px;
          color: #323232;
          gap: 15px;
          padding: 12px 0px 10px 20px;
          border-radius: 0px 5px 5px 5px;
          display: flex;
          flex-direction: column;

          .NoticeTitle {
            font-weight: 500;
            line-height: 12px;
          }

          .NoticeDescription {
            font-size: 14px;
          }

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
          }

          &.Mail {
            background-color: #FFECEC;
          }

          &.WorkReport {
            background-color: #EFE9FF;
          }

          &.Schedule {
            background-color: #E9F7FF;
          }
        }
      }

      .CountBox {
        display: flex;
        align-items: flex-end;

        .RightBox {
          margin-left: 9px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          .NoticeBox {
            position: relative;
            width: 621px;
            background-color: #efefef;
            color: #323232;
            gap: 15px;

            .NoticeTitle {
              font-weight: 500;
              line-height: 12px;
              margin: 12px 17px 15px 12px;
            }

            .NoticeDescription {
              font-size: 14px;
              margin: 10px 17px 10px 12px;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 2px;
              height: 100%;
            }

            &.Mail:after {
              background-color: #ff8181;
            }

            &.WorkReport:after {
              background-color: #916aff;
            }

            &.Schedule:after {
              background-color: #6ac9ff;
            }
          }

          .MsgTimeBox {
            display: flex;
            align-items: flex-end;

            .MsgBox {
              background-color: rgba(69, 197, 82, 0.75);
              padding: 12px 15px;
              border-radius: 0px 5px 5px 5px;
            }

            .userMsgBox {
              background-color: #EFEFEF;
              padding: 12px 15px;
              border-radius: 0px 5px 5px 5px;
            }

            .MsgTime {
              margin-left: 11px;
              font-size: 14px;
              color: #929292;
            }
          }
        }

        .ViewCount {
          font-size: 14px;
          color: #45c552;
          margin-left: 5px;
        }
      }
    }


    .Message-Input {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      bottom: 10px;
      right: 20px;
      width: calc(100% - 300px);

      .GoToBottom {
        margin-bottom: 10px;
        cursor: pointer;

        &.hidden {
          display: none;
        }
      }

      .MessageTypeContainer {
        display: flex;
        flex-direction: row;
        width: 95%;

        img {
          cursor: pointer;
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }

        .Input-Outer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #cecece;
          border-radius: 5px;
          min-height: 51px;
          max-height: 150px;
          width: 100%;
          padding-left: 15px;
          background-color: #fff;

          .text-input {
            font-size: 14px;
            font-family: var(--font-family-Noto-M);
            width: 94%;
            vertical-align: middle;
            height: auto;
            max-height: 150px;
            overflow-y: auto;
            background-color: transparent;

            &:empty:before,
            &:focus:empty:before {
              content: attr(data-placeholder);
              color: #929292;
              cursor: text;
            }

            &:focus {
              outline: none;
            }

            &::-webkit-scrollbar {
              width: 3px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: rgba(#727272, 0.66);
              border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-button {
              display: none;
            }
          }

          input:focus {
            outline: none;
          }

          .send-btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 33px;
            width: 62px;
            background-color: #929292;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            font-family: var(--font-family-Noto-M);
            margin-right: 12px;
            border-radius: 5px;
          }
        }
      }

      .underIcons {
        margin: 5px 0 0 5px;
        width: 95%;
        display: flex;
        flex-direction: row;

        .fileIconBox {
          position: relative;

          .textBubble {
            display: none;
          }

          &:hover {
            .textBubble {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 20px;
              background-color: #45c552;
              border-radius: 3px;
              font-size: 10px;
              color: #fff;
              top: -25px;
              left: -15px;

              &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                bottom: -3px;
                border-top: 3px solid #45c552;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
              }
            }
          }

          .fileIcon {
            cursor: pointer;
            width: 19px;
            height: 19px;
          }
        }
      }
    }
  }

  .PeopleManagementCon {
    &.Hidden {
      display: none;
    }

    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 116px);
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 116px;
    right: 0;
    font-family: var(--font-family-Noto-M);
    background-color: #fff;

    .Management-header {
      display: flex;
      width: 100%;
      height: 60px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;

      img {
        cursor: pointer;
        width: 14px;
        height: 25px;
      }
    }

    .AddPerson-tab {
      cursor: pointer;
      display: flex;
      padding: 0 25px;
      align-items: center;
      background-color: #efefef;
      border-bottom: 1px solid #e2e2e2;
      width: 100%;
      height: 60px;
    }

    .ChatRoom-Members {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 15px;

      .OneMember {
        display: flex;
        flex-direction: row;
        padding: 0 25px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30px;
        font-size: 14px;

        &:hover {
          .OptionIcon {
            visibility: visible;
            cursor: pointer;
          }
        }

        .AttachWithName {
          display: flex;
          flex-direction: row;
          align-items: center;
          vertical-align: middle;

          .AttachIcon {
            margin-right: 10px;
            width: 30px;
            height: 30px;
          }

          span {
            justify-content: center;
            align-items: center;
            display: flex;
          }

          .AdminIcon {
            margin-left: 5px;
            font-size: 8px;
            color: #fff;
            border-radius: 2px;
            width: 31px;
            height: 12px;
            background-color: #45c552;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .PersonManagement_popover {
        border: none !important;
        box-shadow: 0px 1px 3px 1px #a8a8a8 !important;
        border-radius: 5px;
        cursor: pointer;
        font-family: var(--font-family-Noto-M);
        font-size: 15px;
        position: absolute;
        display: flex;
        padding-left: 15px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 150px !important;
        height: 84px !important;

        .ProfileChange {
          cursor: pointer;
          border-bottom: 1px solid #eeeeee;
          padding: 9px 0;
        }

        .OutOfChat {
          cursor: pointer;
          padding: 9px 0;
        }
      }

      .OptionIcon {
        visibility: hidden;
        width: 3px;
        height: 17px;
      }
    }
  }
}