@import "./variables.scss";

@mixin laptop {
    @media (min-width: #{$breakpoint-tablet + 1px}) and (max-width: #{$breakpoint-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-laptop + 1px}) {
        @content;
    }
}

@mixin report-button {
    padding: 6px 20px;
    border: 1px solid #746E58;
    border-radius: 5px;
    font-family: var(--font-family-Noto-B);
    font-size: 14px;
    color: #746E58;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 70%;
}