@import "./variables.scss";

@mixin laptop {
    @media (min-width: #{$breakpoint-tablet + 1px}) and (max-width: #{$breakpoint-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-laptop + 1px}) {
        @content;
    }
}

@mixin report-button {
    padding: 8px 20px;
    border-radius: 5px;
    font-family: var(--font-family-Noto-B);
    font-size: 14px;
    color: #fff;
    background-color: rgba(69,197,82,0.75);
    cursor: pointer;
}