.calendar_container {
  height: 87vh;
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  padding: 20px;

  .fc .fc-toolbar.fc-header-toolbar {
    flex-direction: row;
    font-size: 18px;
    color: #000;
  }

  .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk {
    display: flex;
    font-family: var(--font-family-Noto-M);
  }

  // toolbar 버튼
  .fc .fc-button-primary {
    background-color: #fff;
    color: #969696;
    border: none;

    &:active,
    &:focus,
    &.active {
      background-color: #fff;
      color: #969696;
      border: none;
    }
  }

  // 버튼 테두리 제거
  .fc-button {
    box-shadow: none !important;
  }

  // custom button
  .fc-Addschedule-button {
    width: 140px;
    height: 40px;
    background-color: #746E58 !important;
    border: 2px solid #746E58;
    border-radius: 8px;
    margin-top: 5px;
    font-family: var(--font-family-Noto-B);
    font-size: 16px;
    color: #fff !important;

  }

  // 요일 헤더
  .fc-theme-standard th {
    font-family: var(--font-family-Noto-M);
    color: #969696;
  }

  .fc .fc-daygrid-day-frame {

    &:hover {
      box-shadow: 0 0 0 3px #746E58 inset;
    }
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 6em;
    font-family: var(--font-family-Noto-R);
  }

  .fc-event {
    font-family: var(--font-family-Noto-R);
  }

  // 날짜  ex) 2일
  .fc .fc-daygrid-day-top {
    flex-direction: row;
    font-family: var(--font-family-Noto-M);
    color: #969696;
  }

  .fc .fc-popover {
    font-family: var(--font-family-Noto-R);
    border-radius: 10px;
    height: 250px;
  }

  .fc .fc-more-popover .fc-popover-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .fc .fc-popover-header {
    font-family: var(--font-family-Noto-B);
    font-size: 14px;
    background-color: #746E58;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
  }

  .fc .fc-more-popover .fc-popover-body {
    min-width: 260px;
    min-height: 200px;
    padding: 10px;
  }

}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: #D56D6D;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: #969696;
}

.add_button {
  width: 80px;
  height: 40px;
  background-color: #746E58;
  border: 1px solid #746E58;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #fff;
}

.cancle_button {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #746E58;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #746E58;
}

.del_button {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #D56D6D;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #D56D6D;
}

.cle_button {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #929292;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #929292;
}

.react-datepicker__input-container {

  input {
    text-align: center;
  }
}