.login_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  gap: 2vh;


  .login_btn {
    width: 10vw;
    height: 5vh;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 1.4rem;
    font-family: var(--font-family-Noto-M);
    color: #fff;
  }
}