.login_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;

  .Linker {
    margin-bottom: 60px;
  }

  .InputClass {
    background-color: #fff;
    width: 400px;
    padding-left: 17px;
    margin-bottom: 20px;
    height: 60px;
  }

  .InputClass::placeholder {
    color: #c7c7c7;
  }

  .InputClass:hover {
    border: 2px solid #746E58;
  }


  .login_btn {
    margin-top: 5px;
    padding: 7px 92px 8px 91px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 1.4rem;
    font-family: var(--font-family-Noto-M);
    color: #fff;
  }

  .GoRegis{
    margin-top: 15px;
    color: #929292;

    .span:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.ModalHeader{
  display: flex;
  align-items: center;
}

.ModalBody{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #3B3B3B;
  font-family: var(--font-family-Noto-B);
}