@import "../../mixin";
@import "../../Common/scrollbar.scss";

.UserManage_container {
  height: 81.7vh;
  background-color: white;
  border: 1px solid #DEDEDE;
  padding: 0 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .UserManage_board_list {
    @include board_list;
  }
}

.UserManage_bottom {
  position: absolute;
  bottom: 1%;
  width: 94%;
  display: flex;
  align-items: center;
  font-family: var(--font-family-Noto-R);
}


@include laptop {
  .UserManage_container {
    .UserManage_board_list {
      @include board_list;
      .board_container {
        .board_content {
          height: 55px;
        }
      }
    }
  }
}