.memberSidebar {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  width: 200px;
  max-height: 50px;
  transition: max-height 0.3s ease;
  z-index: 50;
}

.memberSidebar.expanded {
  max-height: 700px;
}

.memberDetails {
  min-height: 500px;
  padding: 10px 0px;
  background-color: #f3f3f3;
  border-top: 1px solid #ccc;

  .MemberTab {
    display: flex;
    flex-direction: column;

    .Fourchains {
      display: flex;
      font-size: 14px;
      color: #717171;
      cursor: pointer;
      margin-bottom: 10px;
      margin-left: 10px;
      font-family: var(--font-family-Noto-M);
    }

    .Fourchains:hover {
      font-family: var(--font-family-Noto-B);
    }

    .RDTeam {
      margin-top: 20px;
    }

    .member {
      font-size: 16px;
      width: 100%;
      padding: 7px 0px 7px 20px;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      justify-content: flex-start;
      cursor: pointer;
      color: #323232;
      gap: 10px;
      font-family: var(--font-family-Noto-M);

      .MemberFlex {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50px;
          margin-right: 12px;
        }

        .Font {
          font-size: 14px;
        }
      }
    }

    .member:hover {
      background-color: #f8f8f8;
      font-family: var(--font-family-Noto-B);
    }
  }
}

.DeptMain {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    font-size: 14px;
    margin-left: 14px;
    font-family: var(--font-family-Noto-M);
    cursor: pointer;
    color: #717171;
  }

  div:hover {
    font-family: var(--font-family-Noto-B);
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  width: 200px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  z-index: 10;

  .sidebar-body {
    height: 100%;

    .sidebar-menu {
      height: 100%;

      .menu-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .menu-item {
          font-family: var(--font-family-Noto-M);

          &:last-child {
            margin-bottom: 0;
          }

          .menu-link {
            width: 100%;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 11px;
            color: var(--side-text-color);
            transition: var(--default-transition);
            padding-left: 45px;
            font-size: 14px;

            @media(max-width: 1600px) {
              width: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 11px;
              color: var(--side-text-color);
              transition: var(--default-transition);
              padding-left: 45px;
              font-size: 14px;
            }

            @media(max-width: 768px) {
              width: 100%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 11px;
              color: var(--side-text-color);
              transition: var(--default-transition);
              padding-left: 45px;
              font-size: 14px;
            }

            &:hover {
              background-color: #dedede;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }

            &.active {
              background-color: rgb(228, 228, 228);
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              color: #000;
              box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
            }
          }

          .menu-link2 {
            width: 100%;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 11px;
            color: var(--side-text-color);
            transition: var(--default-transition);
            padding-left: 23px;
            font-size: 14px;

            @media(max-width: 1600px) {
              width: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 11px;
              color: var(--side-text-color);
              transition: var(--default-transition);
              padding-left: 23px;
              font-size: 14px;
            }

            @media(max-width: 768px) {
              width: 100%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 11px;
              color: var(--side-text-color);
              transition: var(--default-transition);
              padding-left: 23px;
              font-size: 14px;
            }

            &:hover {
              background-color: #dedede;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }

          .menu-link2.active {
            font-family: var(--font-family-Noto-B);
          }
        }

        .member-manage {
          margin-bottom: 50px;
          margin-left: 15px;
        }
      }
    }
  }
}

.sub-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.sub-menu.open {
  max-height: 500px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.sub-menu-item.active {
  background-color: rgba(221, 221, 221);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
}

.hrsidebar {
  font-family: var(--font-family-Noto-M);

  .department {
    color: #fff;
    background-color: #45C552;
    border-bottom: 1px solid #DCDCDC;
    font-size: 10px;

    .department_name {
      padding: 2px 0px 3px 10px;
    }
  }

  .team {
    display: flex;
    align-items: center;
    color: #717171;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DCDCDC;
    gap: 10px;
    padding-left: 10px;
  }

  .name {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #ffffff;
    border-bottom: 1px solid #ECECEC;
    color: #000;
    padding: 7px 11px 8px 20px;
    gap: 8px;
    cursor: pointer;
    justify-content: space-between;

    &:hover {
      background-color: #FFF8E0;
    }

    .name_img {
      margin-right: 10px;
    }
    .name_text {
      font-size: 12px;
    }

    .position_text{
      font-size: 8px;
      font-size: #828282;
    }

    .name_border {
      height: 20px;
      border-right: 1px solid black;
    }
  }
}