.memberSidebar {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  width: 200px;
  max-height: 50px;
  transition: max-height 0.3s ease;
  z-index: 50;
}

.memberSidebar.expanded {
  max-height: 700px;
}

.memberDetails {
  min-height: 500px;
  padding: 10px 0px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;

  .Fourchains {
    font-size: 14px;
    color: #717171;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: var(--font-family-Noto-M);
  }

  .Fourchains:hover {
    font-family: var(--font-family-Noto-B);
  }

  .MemberTab {
    display: flex;
    flex-direction: column;

    .DeptMain {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        font-size: 14px;
        margin-left: 14px;
        font-family: var(--font-family-Noto-M);
        cursor: pointer;
      }

      div:hover{
        font-family: var(--font-family-Noto-B);
      }
    }

    .member {
      padding-left: 14px;
      font-size: 16px;
      width: 100%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      color: #323232;
      gap: 10px;
      font-family: var(--font-family-Noto-M);
    }

    .member:hover {
      background-color: #fff;
      font-family: var(--font-family-Noto-B);
    }
  }
}

.sidebar{
  position: fixed;
  left: 0;
  top: 60px;
  width: 200px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  z-index: 10;

.sidebar-body{
  height: 100%;

  .sidebar-menu{
    height: 100%;

.menu-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  .menu-item {
    font-family: var(--font-family-Noto-M);

    &:last-child {
      margin-bottom: 0;
    }

    .menu-link{
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 11px;
      color: var(--side-text-color);
      transition: var(--default-transition);
      padding-left: 45px;
      font-size: 14px;

      @media(max-width: 1600px) {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 11px;
        color: var(--side-text-color);
        transition: var(--default-transition);
        padding-left: 45px;
        font-size: 14px;
      }
  
      @media(max-width: 768px) {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 11px;
        color: var(--side-text-color);
        transition: var(--default-transition);
        padding-left: 45px;
        font-size: 14px;
      }
  
      &:hover {
        background-color: var(--side-link-hover-color);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
  
      &.active {
        background-color: rgba(221, 221, 221, 0.37);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #000;
        box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
      }
    }

    .menu-link2 {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 11px;
      color: var(--side-text-color);
      transition: var(--default-transition);
      padding-left: 23px;
      font-size: 14px;
  
      @media(max-width: 1600px) {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 11px;
        color: var(--side-text-color);
        transition: var(--default-transition);
        padding-left: 23px;
        font-size: 14px;
      }
  
      @media(max-width: 768px) {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 11px;
        color: var(--side-text-color);
        transition: var(--default-transition);
        padding-left: 23px;
        font-size: 14px;
      }
  
      &:hover {
        background-color: var(--side-link-hover-color);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }

  .member-manage{
    margin-bottom: 25px;
    margin-left: 15px;
  }
}
}
}
}
.sub-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.sub-menu.open {
  max-height: 500px;
}

.sub-menu-item.active {
  background-color: rgba(221, 221, 221, 0.37);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #000;
}
