@import "../../style/mixin";

.container_operating {
  font-family: var(--font-family-Noto-R);
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: scroll;
  overflow-y: scroll;
}

.container_operating::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container_operating::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.container_operating::-webkit-scrollbar-corner {
  background-color: none;
}

.container_operating::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #fff;
}

.Excel_operating {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .Explan_operating {
    font-family: var(--font-family-Noto-M);
    height: 1000px;
    font-size: 12px;
    border: 2px solid #858585;
    text-align: center;

    .table_header_name {
      width: 100px;
      height: 40px;
    }
    .table_header_name_code {
      width: 80px;
      height: 40px;
    }
    .table_header_account {
      width: 250px;
      height: 40px;
    }
    .table_header_account_code {
      width: 80px;
      height: 40px;
    }
    .table_header_yearAccount {
      width: 150px;
      height: 40px;
    }
    .table_header_note {
      width: 650px;
      height: 40px;
    }
    .table_header_totalAccount {
      width: 130px;
      height: 40px;
    }
    
    .th_right {
      border-right: 2px solid #858585;
    }
    
    .th_left {
      border-left: 2px solid #858585;
    }
    
    .th_bottom {
      border-bottom: 2px solid #858585;
    }

    td {
      border-right: 1px solid #858585;
      padding: 0;
    }
   

    .border_line {
      border-bottom: 1px solid #858585;
    }
    .border_light_line {
      border-bottom: 1px solid #858585;
    }
    .dashed_line {
      border-bottom: 1px dashed #858585;
    }

    td input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    
    td select {
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .left-align {
      text-align: left;
      padding-left: 5%;
    }
    
    .right-align {
      text-align: right;
      padding-right: 5%;
    }

    .center-align {
      text-align: center;
    }
  }

  .Excel_total {
    font-family: var(--font-family-Noto-M);
    width: 1340px;
    font-size: 12px;
    height: 100px;
    border: 2px solid #858585;
    text-align: center;

    .total_title {
      width: 537px;
    }

    .total_cost {
      width: 150px;
      text-align: right;
      padding-right: 5px;
      font-family: var(--font-family-Noto-B);
    }

    tr {
      border-bottom: 1px solid #858585;
    }

    td {
      border-right: 1px solid #858585;
    }
  }
}

.oper-dropdown-menu{
  font-family: var(--font-family-Noto-M);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 90px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;

  .dropdown_title {
    height: 27px;
    padding: 0px 10px;
  }
  
  .dropdown_border {
    width: 110px;
    border-bottom: 1px solid #746E58;
    margin-bottom: 3px;
    margin-left: 4px;
  }
  .dropdown_add {
    height: 27px;
    color: #323232;
    padding: 0px 10px;
    cursor: pointer;

    &:hover {
      background-color: #E9E9E9;
    }
  }

  .dropdown_del {
    height: 27px;
    color: #D56D6D;
    padding: 0px 10px;
    cursor: pointer;

    &:hover {
      background-color: #E9E9E9;
    }
  }
}


.dropdown_select {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown_input {
  width: 100%;
  height: 100%;
  text-align: center;
}


.oper_header_right {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 20px;
  right: 18px;
  gap: 7px;

  .oper_year_select {
    width: 100px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-M);
    padding: 5px;
  }

  .oper_download_button {
    width: 92px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #746E58;
  }
  
  .oper_edit_button {
    width: 66px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #746E58;
  }

  .rnd_company_button {
    width: 99px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }

  .head_company_button {
    width: 66px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }
}



@include laptop {
  .oper_header_right {
    top: 10px;

    .oper_year_select {
      width: 100px;
      height: 35px;
      font-size: 14px;
    }
  
    .oper_download_button {
      width: 92px;
      height: 35px;
      font-size: 14px;
    }
    
    .oper_edit_button {
      width: 66px;
      height: 35px;
      font-size: 14px;
    }
  
    .rnd_company_button {
      width: 99px;
      height: 35px;
      font-size: 14px;
    }
  
    .head_company_button {
      width: 66px;
      height: 35px;
      font-size: 14px;
    }
  }

  .Excel_operating {
    overflow-x: hidden;
      
    .Explan_operating {
      width: 1040px;

      .table_header_name {
        width: 50px;
        height: 30px;
      }
      .table_header_name_code {
        width: 50px;
        height: 30px;
      }
      .table_header_account {
        width: 100px;
        height: 30px;
      }
      .table_header_account_code {
        width: 80px;
        height: 30px;
      }
      .table_header_yearAccount {
        width: 100px;
        height: 30px;
      }
      .table_header_note {
        width: 400px;
        height: 30px;
      }
      .table_header_totalAccount {
        width: 100px;
        height: 30px;
      }
    }
  
    .Excel_total {
      width: 840px;
      
      .total_title {
        width: 339px;
      }

      .total_cost {
        width: 100px;
        text-align: right;
        padding-right: 5px;
        font-family: var(--font-family-Noto-B);
      }
    }
  }
}