.container_operating {
  font-family: var(--font-family-Noto-R);
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: scroll;
  overflow-y: scroll;
}

.Excel_operating {
  display: flex;

  .Explan_operating {
    font-family: var(--font-family-Noto-M);
    font-size: 12px;
    width: 1700px;
    height: 1000px;
    border: 2px solid #858585;
    text-align: center;

    .table_header_name {
      width: 100px;
      height: 40px;
    }
    .table_header_name_code {
      width: 80px;
      height: 40px;
    }
    .table_header_account {
      width: 250px;
      height: 40px;
    }
    .table_header_account_code {
      width: 80px;
      height: 40px;
    }
    .table_header_yearAccount {
      width: 150px;
      height: 40px;
    }
    .table_header_note {
      width: 700px;
      height: 40px;
    }
    .table_header_totalAccount {
      width: 130px;
      height: 40px;
    }


    th {
      border: 2px solid #858585;
    }

    td {
      border-right: 1px solid #858585;
      padding: 0;
    }
   

    .border_line {
      border-bottom: 2px solid #858585;
    }
    .dashed_line {
      border-bottom: 1px dashed #858585;
    }

    td input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    
    td select {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    .left-align {
      text-align: left;
      padding-left: 5%;
    }
    
    .right-align {
      text-align: right;
      padding-right: 5%;
    }

    .center-align {
      text-align: center;
    }
  }
}