.downloads_button {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #746E58;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #746E58;
}
.edits_button {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #746E58;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #746E58;
}
.adds_button {
  width: 80px;
  height: 40px;
  background-color: #746E58;
  border: 1px solid #746E58;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
  color: #fff;
}
