@import '../../style/Common/board.scss';

.project_header_right {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 15px;
  right: 15px;

  button {
    z-index: 9;
  }
}

.project_container {
  height: 82.5vh;
  background-color: white;
  border: 1px solid #DEDEDE;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .project_container_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .project_container_header_left {
      display: flex;
      gap: 20px;

      .custom-checkbox {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;
      
        input[type="checkbox"] {
          opacity: 0;
          width: 0;
          height: 0;
        }
      
        span {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #fff;
          border: 1px solid #DCDCDC;
        }
      
        input:checked+span {
          background-color: #fff;
          border-color: #DCDCDC;
        }
      
        span:after {
          content: "";
          position: absolute;
          display: none;
        }
      
        input:checked+span:after {
          display: block;
        }
      
        span:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid black;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }

    .project_container_header_right {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;
      gap: 20px;
      cursor: pointer;
      z-index: 1;
      font-family: var(--font-family-Noto-M);

      img {
        width: 15px;
        height: 15px;
        filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
        transform: rotate(180deg);
      }
    }

    .dropdown_menu {
      position: absolute;
      top: 100px;
      right: 25px;
      z-index: 10;
      background-color: #fff;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      list-style-type: none;
      margin: 0;
      width: 7%;
      font-size: 12px;
      font-family: var(--font-family-Noto-M);

      .blue_circle {
        width: 7px;
        height: 7px;
        background-color: #000AFF;
        border-radius: 50%;
      }

      .brown_circle {
        width: 7px;
        height: 7px;
        background-color: #0C6605;
        border-radius: 50%;
      }
    }

    .dropdown_menu li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .dropdown_menu li:hover {
      background-color: #f0f0f0;
    }
  }

  .project_content {
    height: auto;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    border: 1px solid #EEEEEE;
    border-radius: 5px;

    .project_board_list {
      @include board_list;
      margin-top: 0;
      box-shadow: var(--light-shadow1);
    }
  }

  .fc {
    .fc-toolbar.fc-header-toolbar {
      flex-direction: row;
      font-size: 16px;
      color: #000;
      margin-bottom: 10px;

      .fc-toolbar-chunk {
        display: flex;
        font-family: var(--font-family-Noto-M);
      }
    }

    .fc-button {
      box-shadow: none !important;
    }

    .fc-button-primary {
      background-color: #fff;
      color: #969696;
      border: none;
  
      &:active,
      &:focus,
      &.active {
        background-color: #fff;
        color: #969696;
        border: none;
      }
    }

    .fc-daygrid-day-frame {
      background-color: #fff;

      &:hover {
        box-shadow: 0 0 0 3px #45C552 inset;
      }
    }

    .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
      min-height: 6em;
      font-family: var(--font-family-Noto-R);
    }

    .fc-daygrid-day-top {
      flex-direction: row;
      font-family: var(--font-family-Noto-M);
      color: #969696;
    }

    .fc-popover {
      font-family: var(--font-family-Noto-R);
      border-radius: 10px;
      height: 250px;
    }

    .fc-popover-header {
      font-family: var(--font-family-Noto-B);
      font-size: 14px;
      background-color: #76CB7E;
      color: #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 8px;
    }

    .fc-more-popover {
      .fc-popover-body {
        width: 250px;
        height: 200px;
        min-width: 250px;
        min-height: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
      }
      .fc-popover-body::-webkit-scrollbar-corner {
        background-color: none;
      }
      .fc-popover-body::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      .fc-popover-body::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }
      .fc-popover-body::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: #fff;
      }
    }
    
    .fc-daygrid-body-balanced .fc-daygrid-day-events {
      display: flex;
      flex-direction: column;
      gap: 1px;
    }
  }

  // 요일 헤더
  .fc-theme-standard th {
    font-family: var(--font-family-Noto-M);
    background-color: #fff;
    color: #969696;
    height: 40px;
    text-align: left;
  }
  .fc-col-header-cell-cushion {
    margin-left: 5px;
    margin-top: 5px;
  }

  .fc-event {
    font-family: var(--font-family-Noto-R);
    cursor: pointer;

    .fc-event-main {
      padding-left: 9px;
    }
  }  
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: #D56D6D;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: #969696;
}

.react-datepicker__input-container {

  input {
    text-align: center;
    width: 150px;
  }
}

.react-datepicker-wrapper{
  width: 150px;
}

// 프로젝트 - 새 업무 모달
.body-container {
  display: flex;
  flex-direction: column;
  gap: 20px !important;

  .body_container_content {
    position: relative;
    font-family: var(--font-family-Noto-M);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

    .body_container_content_title {
      width: 20%;
      color: #909090;
      text-align: right;
    }

    input {
      width: 75%;
      background: none;
      border: none;
      outline: none;
      border-bottom: solid 1px #aaaaaa;
      padding-left: 5px;
    }

    input:focus {
      outline: none;
      border-bottom: solid 1px var(--primary-color);
    }

    textarea {
      width: 75%;
      height: 84px;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      font-size: 14px;
      padding: 10px;
      resize: none;
    }

    textarea:focus {
      outline: none;
    }

    .autocomplete_dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      background-color: #fff;
      border: 1px solid var(--primary-color);
      border-top: none;
      border-radius: 0 0 5px 5px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 75%;
      font-size: 12px;
      font-family: var(--font-family-Noto-M);
      max-height: 150px;
      overflow-y: auto;

      li {
        padding: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      li:hover {
        background-color: #f0f0f0;
      }
    }

    .autocomplete_dropdown::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    
    .autocomplete_dropdown::-webkit-scrollbar-thumb {
      background-color: #A8A8A8;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    
    .autocomplete_dropdown::-webkit-scrollbar-corner {
      background-color: none;
    }
    
    .autocomplete_dropdown::-webkit-scrollbar-track {
      box-shadow: none;
      background-color: #fff;
    }

    .body_container_content_listbox {
      overflow-y: auto;
      width: 75%;
      height: 80px;
      border: 1px solid #B4B4B4;
      border-radius: 5px;
      margin-left: 25%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .listbox_content {
        box-sizing: border-box;
        background-color: #f0f0f0;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        border: 1px solid #ccc;

        .remove {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }

    .body_container_content_listbox::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    
    .body_container_content_listbox::-webkit-scrollbar-thumb {
      background-color: #A8A8A8;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    
    .body_container_content_listbox::-webkit-scrollbar-corner {
      background-color: none;
    }
    
    .body_container_content_listbox::-webkit-scrollbar-track {
      box-shadow: none;
      background-color: #fff;
    }

    .body_container_content_datepicker {
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      
      input {
        border: none;
      }
      .timespan{
        display: flex;
        justify-content: center;
        width: 40px;
      }

      .datepicker{
        font-size: 14px;
        font-family: var(--font-family-Noto-M);
        width: 100px;
        height: 27px;
      }
      .datepicker:focus{
        outline: none;
      }
      .react-datepicker-wrapper{
        width: 100px;
      }
    }
  }
}