@import "../../../style/mixin";

.container_attendance {
  font-family: var(--font-family-Noto-R);
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: scroll;
  overflow-y: scroll;
}

.container_attendance::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container_attendance::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.container_attendance::-webkit-scrollbar-corner {
  background-color: none;
}

.container_attendance::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #fff;
}

.conta_three {
  border-bottom: 2px solid #858585;

  &:hover {
    background-color: #D9D9D9;
  }
}

.conta {
  width: 70px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;
}

.conta_border {
  width: 70px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;
  border-top: 1px dashed #858585;
  border-bottom: 1px dashed #858585;
}

.conta_merge {
  font-size: 20px;
  width: 70px;
  height: 90px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;
}

.dateconta {
  font-family: var(--font-family-Noto-M);
  width: 70px;
  height: 42px;
  text-align: center;
  font-size: 12px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 1px solid #858585;

  .date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.countTotal {
  font-family: var(--font-family-Noto-M);
  width: 70px;
  height: 42px;
  text-align: center;
  font-size: 12px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 1px solid #858585;

  .total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dateTable {
  height: 40px;

  tbody {
    display: flex;
    height: 42px;

  }
}


.conta_three_annual {
  border-bottom: 2px solid #858585;
}

.conta_three_last_annual {
  border-bottom: 2px solid #858585;
  border-right: 2px solid #858585;
}

.conta_annual {
  font-family: var(--font-family-Noto-M);
  width: 70px;
  height: 45px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;

  input {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    text-align: center;
  }
}

.conta_name_annual {
  font-family: var(--font-family-Noto-M);
  width: 100px;
  height: 45px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;
}

.conta_date_annual {
  font-family: var(--font-family-Noto-M);
  width: 130px;
  height: 45px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #858585;
}


.countTotal_annual {
  font-family: var(--font-family-Noto-M);
  width: 70px;
  height: 43.5px;
  text-align: center;
  font-size: 16px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 1px solid #858585;

  .total_annual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.countTotal_annual_last {
  font-family: var(--font-family-Noto-M);
  width: 71.5px;
  height: 43.5px;
  text-align: center;
  font-size: 16px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 3px solid #858585;

  .total_annual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.countName_annual {
  font-family: var(--font-family-Noto-M);
  width: 100px;
  height: 43.5px;
  text-align: center;
  font-size: 16px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 1px solid #858585;

  .total_annual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.countDate_annual {
  font-family: var(--font-family-Noto-M);
  width: 130px;
  height: 43.5px;
  text-align: center;
  font-size: 16px;
  display: flex;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-right: 1px solid #858585;

  .total_annual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.CountTable {
  height: 40px;

  tbody {
    display: flex;
    height: 42px;

  }
}

.Excel {
  display: flex;

  .Explan {
    font-family: var(--font-family-Noto-M);
    width: 250px;
    border: 2px solid #858585;
    overflow-x: auto;
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 999;

    tr {

      .TopS {
        height: 40px;
      }

      td {
        border-right: 2px solid #858585;
        border-bottom: 2px solid #858585;

        text-align: center;
        height: 91px;
      }
    }
  }
}

.Excel_RD {
  display: flex;

  .Explan_RD {
    font-family: var(--font-family-Noto-M);
    width: 250px;
    border: 2px solid #858585;
    overflow-x: auto;
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 999;

    tr {

      .TopS {
        height: 39px;
      }

      td {
        border-right: 2px solid #858585;
        border-bottom: 2px solid #858585;

        text-align: center;
        height: 90px;
      }
    }
  }
}

.Excel_annual {
  display: flex;

  .Explan_annual {
    font-family: var(--font-family-Noto-M);
    width: 250px;
    height: auto;
    border: 2px solid #858585;
    overflow-x: auto;

    tr {

      .TopS_annual {
        height: 23px;
        font-size: 14px;
      }

      td {
        border-right: 2px solid #858585;
        border-bottom: 2px solid #858585;
        text-align: center;
        height: 25px;
      }
    }
  }
}

.Excel_annual_RD {
  display: flex;
  height: 465px;

  .Explan_annual_RD {
    font-family: var(--font-family-Noto-M);
    width: 320px;
    border: 2px solid #858585;
    overflow-x: auto;

    tr {

      .TopS_annual {
        height: 40px;
        font-size: 14px;
      }

      td {
        border-right: 2px solid #858585;
        border-bottom: 2px solid #858585;
        text-align: center;
        height: 45px;
      }
    }
  }
}

.modal_container {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .modal_input {
    font-family: var(--font-family-Noto-R);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
  
    .input_title {
      width: 60px;
      color: #929292;
      display: flex;
      flex-direction: row-reverse;
    }
    .input_text {
      width: 300px;
      height: 28px;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      padding: 7px;
    }
    .input_text:focus {
      outline: 2px solid #746e58;
    }
    .input_text::placeholder {
      font-size: 14px;
      color: #C7C7C7;
    }

    .input_select {
      width: 300px;
      height: 28px;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
    }
  }
}


.cancle_modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--font-family-Noto-B);
}

.TabKey {
  width: 5%;
}

.attend_header_right {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 60px;
  right: 18px;
  gap: 7px;
  z-index: 999;

  .attend_download_button {
    width: 92px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #746E58;
  }

  .attend_upload_button {
    width: 72px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #746E58;
  }

  .rnd_company_button {
    width: 99px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }

  .head_company_button {
    width: 66px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }
}

@include laptop {
  .container_attendance {
    font-family: var(--font-family-Noto-R);
    width: 100%;
    height: 100%;
    display: grid;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .Excel_RD {
    .Explan_RD {
      tr {
        .TopS {
          height: 39px;
        }
      }
    }
  }

  .Excel_annual_RD {
  
    .Explan_annual_RD {
      tr {
  
        .TopS_annual {
          height: 20px;
        }
  
        td {
          height: 33.5px;
        }
      }
    }
  }

  .TabKey {
    width: 7%;
  }

  .attend_header_right {
    top: 50px;

    .attend_download_button {
      width: 92px;
      height: 35px;
      font-size: 14px;
    }

    .rnd_company_button {
      width: 99px;
      height: 35px;
      font-size: 14px;
    }

    .head_company_button {
      width: 66px;
      height: 35px;
      font-size: 14px;
    }
  }
}