.container_attendance {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: scroll;
  overflow-y: scroll;
}


.conta_three {
  &:hover {
    box-shadow: 0 0 0 5px black inset;
  }
}

.conta{
  border: 1px solid #000;
  width: 100px;
  height: 40px;
  display: grid; 

}

.dateconta{
  border: 1px solid #000;
  width: 100px;
  text-align: center;
  font-size: 12px;
  display: flex;

  .date{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  }
}

.dateTable{
  height: 40px;

  tbody{
    display: flex;
    height: 40px;
   
  }
}
.Excel{
  display: flex;

  .Explan{
    width: 300px;
    border: 1px solid #000;
    overflow-x: auto;
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 999;

    tr{

      .TopS{
        height: 40px;
      }
      td{
        border: 1px solid #000;
        text-align: center;
        height: 120px;
      }
    }
  }
  
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .modal_input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

