@import "../../style/mixin";

.report_container {
  width: 100%;
  height: 100%;
  display: flex;

  .report_type {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    .report_content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .report_title {
        font-family: var(--font-family-Noto-B);
        font-size: 18px;
        color: #929292;
      }
  
      .report_name {
        display: flex;
        align-items: center;
        font-family: var(--font-family-Noto-M);
        font-size: 18px;
        width: 90%;
        height: 55px;
        padding-left: 20px;
        border: 2px solid #DCDCDC;
        border-radius: 5px;
        cursor: pointer;

        &:hover, :active {
          border: 2px solid #746E58;
        }
      }
    }
  }
  .report_btn {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }


  .temp_button {
    width: 180px;
    height: 40px;
    border: 2px solid #746E58;
    border-radius: 8px;
    margin-top: 5px;
    font-family: var(--font-family-Noto-B);
    font-size: 16px;
    color: #746E58;
  }
}
.write_container {
  width: 100%;
  height: 100%;

  .write_top_container {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;

    .top_left_content {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 15px;

      .sub_title {
        color: #929292;
        font-family: var(--font-family-Noto-M);
      }
    }

    .top_right_content {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 7px;
      
      .upload_button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 133px;
        height: 35px;
        border: 2px solid #746E58;
        border-radius: 8px;
        font-family: var(--font-family-Noto-B);
        font-size: 14px;
        color: #746E58;
      }
      .save_button {
        width: 92px;
        height: 35px;
        border: 2px solid #746E58;
        border-radius: 8px;
        font-family: var(--font-family-Noto-B);
        font-size: 14px;
        color: #746E58;
      }
      .approval_button {
        width: 121px;
        height: 35px;
        border: 2px solid #746E58;
        border-radius: 8px;
        font-family: var(--font-family-Noto-B);
        font-size: 14px;
        background-color: #746E58;
        color: #ffffff;
      }
      .reject_button {
        width: 92px;
        height: 35px;
        border: 2px solid #D56D6D;
        border-radius: 8px;
        font-family: var(--font-family-Noto-B);
        font-size: 14px;
        color: #D56D6D;
      }
      .approve_button {
        width: 92px;
        height: 35px;
        border: 2px solid #746E58;
        border-radius: 8px;
        background-color: #746E58;
        font-family: var(--font-family-Noto-B);
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .write_btm_container {
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    justify-content: center;

    .upload-area {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #C7C7C7;
      font-family: var(--font-family-Noto-M);

      .upload-text-top {
        font-size: 36px;
      }
      .upload-text-btm {
        font-size: 20px;
      }
    }
  }

  .write_btm_container2 {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;

    .attachment-area {
      width: 100%;
      height: auto;
      display: flex;
      gap: 20px;
      margin-top: 10px;

      .attachment-title {
        font-size: 14px;
        color: #746E58;
        font-family: var(--font-family-Noto-B);
      }

      .attachment-content {
        font-size: 14px;
        color: #9E9E9E;
      }
    }

    .upload-area {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #C7C7C7;
      font-family: var(--font-family-Noto-M);

      .upload-text-top {
        font-size: 36px;
      }
      .upload-text-btm {
        font-size: 20px;
      }
    }
  }
}
.approval_content {
  align-items: center;
  font-family: var(--font-family-Noto-M);
  color: #929292;
  width: 230px;
  height: 80px;

  .approval_line {
    display: flex;
    align-items: center;
    gap: 10px;

    .approval_checkbox {
      width: 18px;
      height: 18px;
      border: 1px solid #D3D3D3;
    }
    .approval_checkbox:checked {
      accent-color: #fff;
      border: 1px solid #D3D3D3;
    }
  }
  .approval_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    border: 1px solid #ECECEC;
    font-family: var(--font-family-Noto-M);
    color: #000;
    gap: 8px;
    
    .name_img {
      margin-right: 10px;
    }
    
    .name_text {
      font-size: 16px;
    }

    .name_border {
      height: 20px;
      border-right: 1px solid black;
    }
  }
  .approval_checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    border: 1px solid #ECECEC;
    font-family: var(--font-family-Noto-R);
    font-size: 14px;
    color: #929292;
  }
}
.button-wrap{
  display: flex;
  position: absolute;
  bottom: 15px;
  gap: 7px;

  .second_button {
    width: 66px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }
  .white_button {
    width: 66px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #746E58;
  }
}
.approvals_contents{
  height: 90px;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 5px;

  .approval_name{
    width: 100%;
    min-height: 30px;

    .name_text{
      font-size: 14px;
    }
  }
}

@include laptop {
  .report_container {

    .report_type {
  
      .report_content {
    
        .report_name {
          font-size: 16px;
          width: 80%;
          height: 38px;
        }
      }
    }
  }
  .write_container {

    .write_top_container {
      align-items: center;
      .top_left_content {

        .save_button {
          width: 100px;
          height: 35px;
          border: 2px solid #746E58;
          border-radius: 8px;
          font-family: var(--font-family-Noto-B);
          font-size: 16px;
          color: #746E58;
        }
      }

      .top_right_content {
        gap: 10px;
      }
    }
  }
  .approval_content {
    width: 180px;
    height: 70px;
  
    .approval_name {
      width: 180px;
      height: 35px;
      gap: 8px;
    
      .name_text {
        font-size: 12px;
      }
    }
    .approval_checked {

      width: 180px;
      height: 40px;
      font-size: 12px;
    }
  }
  .approvals_contents{
    height: 140px;
  }
}