.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal-content {
    background: #fff;
    border-radius: 6px;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .modal-header {
      width: inherit;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #76CB7E;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;

      .modal-header-text {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 14px;
        font-family: var(--font-family-Noto-B);
        color: black;
      }

      .modal-close-button {
        position: absolute;
        top: 12px;
        right: 12px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .modal-body {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      font-family: var(--font-family-Noto-B);
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      .text-center {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .body-container {
        width: 100%;
        height: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .AddTitle {
          display: flex;

          .div{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
          }

          .employ_div {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 70px;
            font-size: 14px;
            color: #929292;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
          }

          .TextInputCon{
            width: 360px;
            height: 33px;
            border: 1px solid #DCDCDC;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
          }
          .TextInputCon::placeholder{
            font-size: 14px;
            font-weight: 400;
            color: #d9d9d9;
          }
          .TextInputCon:focus{
            outline: none;
          }
        }

        .AddPeoples{
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          .div{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
          }

          .MeetingRoom{
            display: flex;
            width: 80%;
            gap: 20px;

            .SelectRoom{
              font-size: 14px;
              width: 196px;
              height: 32px;
              border: 1px solid #DCDCDC;
              border-radius: 5px;
            }
            .SelectRoom:focus{
              outline: none;
            }

            .Field{
              gap: 20px;
              display: flex;

              label{
                display: flex;
                align-items: center;
                gap: 5px;

                span{
                  font-size: 14px;
                  margin-left: 5px;
                }
              }
            }
          }
        }

        .AddPeople{
          margin-bottom: 10px;
          display: flex;
          width: 100%;

          .div{
            display: flex;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
            padding-top: 5px;
          }
          
          .InputContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            .AddInputCon{
              width: 360px;
              height: 33px;
              border-bottom: 1px solid #DCDCDC;
              font-size: 14px;
              padding: 10px;
            }
            .AddInputCon::placeholder{
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }
            .AddInputCon:focus{
              outline: none;
            }
  
            .AddsInputCon {
              width: 360px;
              height: 77px;
              border: 1px solid #DCDCDC;
              border-radius: 5px;
              font-size: 14px;
              padding: 10px;
            }
            .AddsInputCon::placeholder{
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }
            .AddsInputCon:focus{
              outline: none;
            }
          }

          .timespan{
            margin-left: 20px;
            margin-right: 20px;
          }

          .Date{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0 5px;

            .datepicker{
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
              width: 80px;
              height: 27px;
            }
            .datepicker:focus{
              outline: none;
            }
            .react-datepicker-wrapper{
              width: 80px;
            }
  
            .timeoption{
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
              position: relative;
              margin-left: 5px;
              cursor: pointer;
            }
          }
        }

        .body-content {
          display: flex;
          gap: 10px;
  
          .content-left {
            padding-left: 9px;
            display: flex;
            align-items: center;
            width: 15%;
            height: 28px;
            font-size: 14px;
            color: #929292;
            font-family: var(--font-family-Noto-M);

            .div {
             margin-left: 25px; 
            }
          }
  
          .content-center {
            align-items: center;
          }
  
          .content-right {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 80%;
            font-size: 14px;

            .event_title_input {
              position: relative;
              width: 100%;

              .textinput {
                width: 100%;
                height: 28px;
                border: 1px solid #DCDCDC;
                border-radius: 5px;
                padding-left: 7px;
              }
              .textinput:focus {
                outline: 2px solid #76CB7E;
              }
              .textinput::placeholder {
                font-size: 12px;
                color: #C7C7C7;
              }
  
              .userlist_dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 999;
                background-color: #fff;
                color: black;
                border: 1px solid var(--primary-color);
                border-top: none;
                border-radius: 0 0 5px 5px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 12px;
                font-family: var(--font-family-Noto-M);
                max-height: 150px;
                overflow-y: auto;
      
                li {
                  padding: 8px;
                  cursor: pointer;
                  transition: background-color 0.3s ease;
                }
      
                li:hover {
                  background-color: #f0f0f0;
                }
              }
            }

            .textinput {
              width: 100%;
              height: 28px;
              border: 1px solid #DCDCDC;
              border-radius: 5px;
              padding-left: 7px;
            }
            .textinput:focus {
              outline: 2px solid #76CB7E;
            }
            .textinput::placeholder {
              font-size: 12px;
              color: #C7C7C7;
            }

            .datepicker {
              width: 100%;
              height: 28px;
              border: 1px solid #DCDCDC;
              border-radius: 5px;
            }

            .textareainput {
              width: 100%;
              height: 84px;
              border: 1px solid #DCDCDC;
              border-radius: 5px;
              padding: 7px;
              resize: none;
            }
            .textareainput:focus {
              outline: none;
            }
            .textareainput::placeholder {
              font-size: 12px;
              color: #C7C7C7;
            }

            .content-title {
              display: flex;
              align-items: center;
              width: 100%;
              align-items: center;
              font-size: 18px;
              margin-bottom: 20px;
              margin-left: 10px;
            }

            .content-type {
              display: flex;
              align-items: center;
              width: 100%;
            }
            .content-date {
              display: flex;
              align-items: center;
              gap: 7px;
              width: 300px;
              height: 28px;
            }
            .content-memo {
              width: 300px;
            }
          }
        }
      }
    }

    .modal-footer {
      width: 100%;
      height: auto;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;

      .modal-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 35px;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        font-size: 14px;
        font-family: var(--font-family-Noto-B);

        &.green-btn {
          background-color: #fff;
          border: 1px solid #76CB7E;
          color: #76CB7E;
        }
        &.back-green-btn {
          background-color: #76CB7E;
          border: 1px solid #76CB7E;
          color: #fff;
        }
        &.red-btn {
          background-color: #fff;
          border: 1px solid #D56D6D;
          color: #D56D6D;
        }
        &.gray-btn {
          background-color: #fff;
          border: 1px solid #929292;
          color: #929292;
        }
      }

    }
  }
}
.options{
  position: absolute;
  height: 150px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.options::-webkit-scrollbar-corner {
  background-color: none;
}

.options::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #fff;
}

.optionselect{
  padding-top: 3px;
  padding-bottom: 3px;
}

.optionselect:hover{
background-color: #d9d9d9;
font-size: 14px;
cursor: pointer;

}