@import '../../style/Common/scrollbar.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal-content {
    background: #fff;
    border-radius: 6px;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .modal-header {
      width: inherit;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #76cb7e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;

      .modal-header-text {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 14px;
        font-family: var(--font-family-Noto-B);
      }

      .modal-close-button {
        position: absolute;
        top: 12px;
        right: 12px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .modal-body {
      @include custom-scrollbar;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      font-family: var(--font-family-Noto-B);
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      .spam_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 20px;
        
        .spam_check {
          display: flex;
          gap: 5px;
          font-size: 12px;
        }
      }

      .text-center {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .body-container {
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.custom_scroll {
          @include custom-scrollbar;
          overflow-y: auto;
        }

        &.New-Chat-Room-Body {
          gap: 5px !important;
        }

        &.ProfileSetting {
          gap: 5px !important;
          justify-content: center;

          .ProfileAndPalette {
            display: flex;
            width: 210px;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            margin-bottom: 15px;

            .Profile {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 24px;
              color: #fff;
              background-color: #ff8181;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              border: 1px solid #dc5a31;
              box-sizing: border-box;
            }

            .Palette {
              width: 150px;
              height: 50px;
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              gap: 1px;

              div {
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                cursor: pointer;
              }
            }
          }

          .TextInputCon {
            width: 100%;
            height: 33px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
          }

          .TextInputCon::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #d9d9d9;
          }

          .TextInputCon:focus {
            outline: none;
          }

          .TextInputCon2 {
            width: 90%;
            height: 84px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
            resize: none;
          }

          .TextInputCon2:focus {
            outline: none;
          }
        }

        .AddTitle {
          display: flex;

          .TextInputCon {
            width: 100%;
            height: 33px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
          }

          .TextInputCon::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #d9d9d9;
          }

          .TextInputCon:focus {
            outline: none;
          }

          .TextInputCon2 {
            width: 90%;
            height: 84px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
            resize: none;
          }

          .TextInputCon2:focus {
            outline: none;
          }

          .div {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 60px;
            height: 33px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 5px;
            padding-right: 5px;
          }

          .employ_div {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 70px;
            font-size: 14px;
            color: #929292;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
          }
        }

        .AddPeoples {
          display: flex;
          width: 100%;

          .div {
            display: flex;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-left: 5px;
            margin-right: 5px;
            padding-right: 5px;
          }

          .MeetingRoom {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .SelectRoom_wrap {
              display: flex;
              gap: 10px;

              .SelectRoom {
                padding: 0px 10px;
                font-size: 14px;
                width: 250px;
                height: 32px;
                cursor: pointer;
                border: 1px solid #dcdcdc;
                border-radius: 5px;
              }

              .SelectRoom:focus {
                outline: none;
              }

              .write_selectRoom {
                padding: 0px 10px;
                font-size: 14px;
                width: 235px;
                border: 1px solid #dcdcdc;
                border-radius: 5px;
              }

              .write_selectRoom:focus {
                outline: none;
              }

              .write_selectRoom::placeholder {
                font-size: 14px;
                font-weight: 400;
                color: #d9d9d9;
              }
            }

            .other_place_input {
              width: 100%;
              height: 32px;
              padding: 0px 10px;
              font-size: 14px;
              border: 1px solid #dcdcdc;
              border-radius: 5px;
            }

            .other_place_input:focus {
              outline: none;
            }

            .other_place_input::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }
          }
        }

        .AddPeople {
          display: flex;
          width: 100%;

          .div {
            display: flex;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 10px;
            padding-top: 5px;
          }

          .div2 {
            display: flex;
            flex-direction: row-reverse;
            width: 60px;
            font-size: 14px;
            color: #929292;
            font-weight: 300;
            font-family: var(--font-family-Noto-M);
            margin-right: 5px;
            padding-right: 5px;
            padding-top: 5px;
          }

          .InputContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 8px;
            position: relative;

            .AddInputCon {
              width: 100%;
              height: 33px;
              border-bottom: 1px solid #dcdcdc;
              font-size: 14px;
              padding: 10px;
            }

            .AddInputCon::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }

            .AddInputCon:focus {
              outline: none;
            }

            .autocomplete_dropdown {
              @include custom-scrollbar;
              position: absolute;
              border-radius: 5px;
              top: 33px;
              left: 0;
              z-index: 1000;
              border: 1px solid #c7c7c7;
              background-color: #fff;
              width: 100%;
              max-height: 200px;
              overflow-y: auto;
              gap: 5px;
              display: flex;
              flex-direction: column;

              li {
                font-size: 14px;
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.2s;
            
                &.selected {
                  background-color: #e2e2e2;
                }
              }
            }

            .AddsInputCon {
              width: 100%;
              height: 77px;
              border: 1px solid #dcdcdc;
              border-radius: 5px;
              font-size: 14px;
              padding: 6px 10px;
              overflow-y: scroll;
              flex-wrap: wrap;
              display: flex;
              gap: 10px;

              .recipient {
                flex: 1 0 calc(50% - 10px);
                max-width: calc(50% - 5px);
                box-sizing: border-box;
                background-color: #f0f0f0;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 10px;
                border: 1px solid #ccc;

                .remove {
                  margin-left: 5px;
                  cursor: pointer;
                }
              }
            }

            .AddsInputCon::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }

            .AddsInputCon::-webkit-scrollbar-thumb {
              background-color: #929292;
              border-radius: 10px;
              background-clip: padding-box;
              border: 2px solid transparent;
            }

            .AddsInputCon::-webkit-scrollbar-corner {
              background-color: none;
            }

            .AddsInputCon::-webkit-scrollbar-track {
              box-shadow: none;
              background-color: #fff;
            }

            .AddsInputCon::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }

            .AddsInputCon:focus {
              outline: none;
            }
          }

          .timespan {
            margin: 0 10px;
            display: flex;
            align-items: center;
          }

          .Date {
            display: flex;
            align-items: center;
            width: 155px;
            padding: 0 5px;

            .datepicker {
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
              width: 100px;
              height: 27px;
            }

            .datepicker:focus {
              outline: none;
            }

            .react-datepicker-wrapper {
              width: 100px;
              padding-bottom: 2px;
            }

            .timeoption {
              width: 55px;
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
              position: relative;
              margin-left: 5px;
              cursor: pointer;
            }

            .time_input {
              width: 45px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .time_input::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: #d9d9d9;
            }

            .time_input:focus {
              outline: none;
            }
          }

          .All_day_button {
            display: flex;

            span {
              color: #45c552;
              font-family: var(--font-family-Noto-M);
              font-size: 14px;
              width: 40px;
              margin-left: 30px;
            }

            .switch {
              position: relative;
              width: 51px;
              height: 22px;
              background-color: #fff;
              border: 1px solid #45c552;
              border-radius: 34px;
              cursor: pointer;
              transition: background-color 0.3s;
            }

            .switch.on {
              background-color: #45c552;
            }

            .slider {
              position: absolute;
              top: 3px;
              left: 5px;
              width: 14px;
              height: 14px;
              background-color: #45c552;
              border-radius: 50%;
              transition: transform 0.3s;
            }

            .switch.on .slider {
              transform: translateX(26px);
              background-color: #fff;
            }
          }
        }

        .New-Chat-Room,
        .ProfileSetting {
          display: flex;
          flex-direction: row;
          width: 100%;
          font-family: var(--font-family-Noto-M);
          padding-bottom: 0;

          .TextInputCon {
            width: 100%;
            height: 33px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;

            &.large {
              height: 66px;
              resize: none;
            }

            &::placeholder {
              color: #c7c7c7;
              font-size: 12px;
            }

            &:focus {
              outline: none;
            }
          }

          .Right-Button-Con {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 78%;
            height: 33px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            padding: 0 10px;

            .SearchIcon {
              height: 13px;
              width: 13px;
              margin-right: 7px;
            }

            .LeftTextInput {
              width: 100%;
              height: 100%;

              &::placeholder {
                color: #c7c7c7;
                font-size: 12px;
              }

              &:focus {
                outline: none;
              }
            }
          }

          .WholeMemberCheckBoxCon {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            color: #555555;
            width: auto;

            .CheckBox {
              cursor: pointer;
              width: 16px;
              height: 16px;
              margin: 0 5px 0 7px;
            }

            span {
              display: block;
              white-space: nowrap;
            }
          }

   
        }

        .ProfileSetting {
          display: flex;
          justify-content: center;
          
        }

        .PeopleSearchCon {
          font-family: var(--font-family-Noto-M);
          display: flex;
          flex-direction: row;
          gap: 5px;
          margin-top: 5px;

          .LeftEmployCon {
            box-shadow: inset 0px -20px 20px -20px rgba(0, 0, 0, 0.15);
            width: 184px;
            border-radius: 5px;
            max-height: 240px;
            overflow-y: auto;
            padding-right: 5px;
            display: flex;
            flex-direction: column;

            &.mail_resize {
              max-height: 290px;
            }

            &::-webkit-scrollbar {
              width: 3px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #8f8f8f;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-button {
              display: none;
            }

            .Department-Tab {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-size: 10px;
              font-weight: bold;
              color: #8f8f8f;
              white-space: nowrap;
              margin: 10px 0;

              img {
                margin-right: 5px;
              }

              .VerticalLine {
                height: 1px;
                width: 100%;
                background-color: #dcdcdc;
                margin-left: 6px;
              }
            }

            .PersonCon {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 10px 9px;

              .PersonCheckBox {
                width: 12px;
                height: 12px;
                margin-right: 10px;
              }

              .ProfileIcon {
                width: 24px;
                height: 24px;
                margin-right: 7px;
                border-radius: 50%;
              }

              .PersonName {
                font-size: 11px;
                font-weight: 400;
              }
            }

            .Team-Tab {
              display: flex;
              flex-direction: row;
              align-items: center;
              //background-color: #e1e1e1;
              //border-radius: 23px;
              padding-left: 9px;
              height: 20px;
              color: #8f8f8f;

              .VerticalLine {
                height: 1px;
                width: 100%;
                background-color: #dcdcdc;
                margin-left: 6px;
              }

              .TeamCheckBox {
                width: 12px;
                height: 12px;
                margin-right: 11px;
              }

              .TeamName {
                font-size: 10px;
                white-space: nowrap;
              }
            }
          }

          .RightSelectedCon {
            width: 186px;
            max-height: 240px;
            min-height: 240px;
            overflow-y: auto;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 10px 15px;

            &.mail_resize {
              max-height: 290px;
            }
            
            &::-webkit-scrollbar {
              width: 3px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #8f8f8f;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-button {
              display: none;
            }

            .RightTopText {
              color: #8f8f8f;
              font-size: 10px;
              font-weight: bold;
              width: 100%;
              height: 14px;
              margin-bottom: 7px;

              span {
                font-size: 10px;
                font-weight: bold;
              }
            }

            .ChosenPeople {
              display: grid;
              grid-template-columns: repeat(1, 1fr);

              .ChosenOne {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                margin: 3.5px 0;

                img {
                  width: 6px;
                  height: 6px;
                  margin-right: 5px;
                }

                div {
                  font-size: 10px;
                  color: #323232;
                }

                .createMe {
                  color: #BABABA;
                  font-size: 10px;
                }
              }
            }
          }
        }

        .body-content {
          display: flex;
          gap: 10px;

          .content-left {
            padding-left: 9px;
            display: flex;
            align-items: center;
            width: 20%;
            height: 28px;
            font-size: 14px;
            color: #929292;
            font-family: var(--font-family-Noto-M);

            .div {
              margin-left: 25px;
            }
          }

          .content-center {
            align-items: center;
          }

          .content-right {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 14px;

            .event_title_input {
              position: relative;
              width: 100%;
              margin-left: 18px;

              .textinput {
                width: 108%;
                height: 28px;
                border: 1px solid #dcdcdc;
                border-radius: 5px;
                padding-left: 7px;
              }

              .textinput:focus {
                outline: 2px solid #76cb7e;
              }

              .textinput::placeholder {
                font-size: 12px;
                color: #c7c7c7;
              }

              .userlist_dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 999;
                background-color: #fff;
                color: black;
                border: 1px solid var(--primary-color);
                border-top: none;
                border-radius: 0 0 5px 5px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 12px;
                font-family: var(--font-family-Noto-M);
                max-height: 150px;
                overflow-y: auto;

                li {
                  padding: 8px;
                  cursor: pointer;
                  transition: background-color 0.3s ease;
                }

                li:hover {
                  background-color: #f0f0f0;
                }
              }
            }

            .textinput {
              width: 100%;
              height: 28px;
              border: 1px solid #dcdcdc;
              border-radius: 5px;
              padding-left: 7px;
            }

            .textinput:focus {
              outline: 2px solid #76cb7e;
            }

            .textinput::placeholder {
              font-size: 12px;
              color: #c7c7c7;
            }

            .datepicker {
              width: 100%;
              height: 28px;
              // border: 1px solid #DCDCDC;
              border-radius: 5px;
            }

            .datepicker:focus {
              outline: none;
            }

            .textareainput {
              width: 100%;
              height: 84px;
              border: 1px solid #dcdcdc;
              border-radius: 5px;
              padding: 7px;
              resize: none;
            }

            .textareainput:focus {
              outline: none;
            }

            .textareainput::placeholder {
              font-size: 12px;
              color: #c7c7c7;
            }

            .content-title {
              display: flex;
              align-items: center;
              width: 100%;
              align-items: center;
              font-size: 18px;
              margin-bottom: 20px;
              margin-left: 10px;
            }

            .content-type {
              display: flex;
              align-items: center;
              width: 100%;
              padding: 5px 10px;
              border-bottom: 1px solid #CACACA;

              .blue_circle {
                width: 7px;
                height: 7px;
                background-color: #000aff;
                border-radius: 50%;
              }

              .brown_circle {
                width: 7px;
                height: 7px;
                background-color: #0c6605;
                border-radius: 50%;
              }
            }

            .content-teamLead {
              display: flex;
              align-items: center;
              gap: 10px;
              width: 100%;
              padding: 0 10px;
              height: 37px;
              border-radius: 5px;
              font-size: 12px;
              border: 1px solid #EEEEEE;
              border-radius: 5px;

              .content-teamLead-name {
                color: #929292;
              }
            }

            .content-date {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 7px;
              width: 100%;
              padding: 0 10px;
              height: 37px;
              background-color: #F4F4F4;
              border-radius: 5px;
              font-size: 12px;

              .content-date-name {
                color: #929292;
              }

              .green_arrow {
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin-left: 5px;
                width: 50px;
                height: 16px;
                background-color: #009544;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                color: #FFFFFF;
                font-size: 8px;
              }
              .green_arrow_triangle {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 10px solid #009544;
              }

              .blue_arrow {
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin-left: 5px;
                width: 50px;
                height: 16px;
                background-color: #3870FF;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                color: #FFFFFF;
                font-size: 8px;
              }
              .blue_arrow_triangle {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 10px solid #3870FF;
              }

              .brown_arrow {
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin-left: 5px;
                width: 50px;
                height: 16px;
                background-color: #717171;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                color: #FFFFFF;
                font-size: 8px;
              }
              .brown_arrow_triangle {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 10px solid #717171;
              }
            }

            .content-member-container {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 110px;
              font-size: 12px;
              border: 1px solid #EEEEEE;
              border-radius: 5px;
              padding: 10px 5px;

              .content-member-text {
                color: #929292;
                border-bottom: 1px solid #CACACA;
                padding-bottom: 5px;
                padding-left: 5px;
              }

              .content-member {
                @include custom-scrollbar;
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;
                width: 100%;
                height: 100%;
                padding: 5px;

                .content-member-box {
                  width: 48%;
                  height: 25px;
                }
              }
            }

            .content-memo-container {
              display: flex;
              flex-direction: column;
              width: 100%;
              
              .content-memo-text {
                color: #929292;
                font-size: 12px;
                padding: 0 10px;
                margin-bottom: 3px;
              }

              .content-memo {
                width: 100%;
                height: 83px;
                border-radius: 5px;

                textarea {
                  @include custom-scrollbar;
                  height: inherit;
                }
              }
            }
          }
        }

        .mail_read_list_header {
          display: flex;
          justify-content: space-between;
          font-size: 10px;
          color: #AAAAAA;
          border-bottom: 1px solid #CACACA;
          padding: 3px 5px;
        }

        .mail_read_list_content {

          .mail_read_list_user {
            padding: 6px 5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #EEEEEE;

            .mail_read_list_user_name {
              font-size: 14px;
              color: #323232;
            }

            .mail_read_list_user_status {
              font-size: 12px;
              color: #717171;
            }
          }
        }
      }
    }

    .modal-footer {
      width: 100%;
      height: auto;
      padding-bottom: 20px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;

      .modal-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 35px;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        font-size: 14px;
        font-family: var(--font-family-Noto-B);

        &.green-btn {
          background-color: #fff;
          border: 1px solid #76cb7e;
          color: #76cb7e;
        }

        &.back-green-btn {
          background-color: #76cb7e;
          border: 1px solid #76cb7e;
          color: #fff;
        }

        &.red-btn {
          background-color: #fff;
          border: 1px solid #d56d6d;
          color: #d56d6d;
        }

        &.gray-btn {
          background-color: #fff;
          border: 1px solid #929292;
          color: #929292;
        }
      }
    }
  }
}

.options {
  position: absolute;
  z-index: 999;
  height: 150px;
  overflow-y: scroll;
  left: -10px;
  background-color: #fff;
  border: 1px solid #45c552;
  border-radius: 5px;

  .optionselect {
    padding: 5px;
  }
}

.options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.options::-webkit-scrollbar-corner {
  background-color: none;
}

.options::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #fff;
}

.optionselect {
  padding-top: 3px;
  padding-bottom: 3px;
}

.optionselect:hover {
  background-color: #d9d9d9;
  font-size: 14px;
  cursor: pointer;
}

.Field {
  gap: 50px;
  display: flex;
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #45c552;
    transition: background-color 0.3s, border-color 0.3s;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 55%;
      left: 55%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #45c552;
      transform: translate(-55%, -55%);
    }
  }

  &:hover input~.checkmark {
    background-color: #ccc;
  }

  input:checked~.checkmark {
    background-color: #eee;
    border: 2px solid #45c552;

    &:after {
      display: block;
    }
  }

  span {
    margin-left: 10px;
    padding-left: 10px;
  }
}