@import "../../../mixin";
@import "../../../Common/board.scss";
@import "../../../Common/scrollbar.scss";


.orgchart_tab_container {
  height: 87vh;

  .TabPanel {
    margin-top: 80px;
    margin-left: 60px;

    .nodeicon {
      font-family: var(--font-family-Noto-B);
      height: 150px;
      width: 140px;
      padding: 5px;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      padding: 10px;
      cursor: pointer;

      .nodeicon_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .UserIcon {
          width: 50px;
          height: 50px;
        }
      }
    }

    .nodeicon2 {
      font-family: var(--font-family-Noto-B);
      height: 150px;
      width: 140px;
      padding: 5px;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      margin-top: 20px;
    }

    .nodeicon3 {
      font-family: var(--font-family-Noto-B);
      height: 50px;
      width: 180px;
      border-radius: 5px;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .nodeicon4 {
      font-family: var(--font-family-Noto-B);
      height: 50px;
      width: 180px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
    }

    .nodeicon5 {
      font-family: var(--font-family-Noto-B);
      height: 45px;
      width: 160px;
      padding: 5px;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
    }

    .TeamColumn {
      @include custom-scrollbar();
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 180px;
      overflow-x: hidden;
      gap: 5px;

      .nodeicon6 {
        font-family: var(--font-family-Noto-B);
        height: 45px;
        width: 155px;
        padding: 5px;
        border-radius: 8px;
        display: inline-block;
        border: 1px solid #DEDEDE;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
      }

      .nodeicon7 {
        font-family: var(--font-family-Noto-B);
        height: 50px;
        width: 180px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #DEDEDE;
        font-size: 16px;
      }
    }
  }
}

@include laptop {
  .orgchart_tab_container {
    height: 84vh;
    
    .TabPanel {
      margin-top: 20px;

      .nodeicon {
        height: 120px;
        width: 130px;

        .nodeicon_content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
    
          .UserIcon {
            width: 35px;
            height: 35px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }

      .nodeicon2 {
        height: 100px;
        width: 120px;
      }

      .nodeicon3 {
        height: 40px;
        width: 150px;
      }

      .nodeicon4 {
        height: 40px;
        width: 150px;
      }

      .nodeicon5 {
        width: 100px;
      }

      .TeamColumn {
        height: 130px;

        .nodeicon6 {
          width: 100px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .nodeicon7 {
          height: 40px;
          width: 150px;
          font-size: 14px;
        }
        
      }
    }
  }
}