@import "../../../style/mixin";

.FC_logo {
  position: relative;
  top: -60px;
  right: -90px;
  width: 135px;

  .MenuName {
    font-family: var(--font-family-Noto-M);
    font-size: 26px;
    width: 135px;
    color: #DEDEDE;
  }

  .MenuName2 {
    font-family: var(--font-family-Noto-M);
    font-size: 21px;
    color: #DEDEDE;
  }
}

.FC_logo2 {
  position: relative;
  top: -80px;
  left: -70px;
  width: 140px;

  .Logoimg {
    width: 140px;
  }

  .MenuName {
    font-family: var(--font-family-Noto-M);
    font-size: 26px;
    width: 140px;
    color: #DEDEDE;
  }

  .MenuName2 {
    font-family: var(--font-family-Noto-M);
    font-size: 21px;
    width: 140px;
    color: #DEDEDE;
  }
}

.TabPanel {
  margin-top: 80px;


  .nodeicon {
    font-family: var(--font-family-Noto-B);
    height: 150px;
    width: 140px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    padding: 10px;
  }

  .nodeicon2 {
    font-family: var(--font-family-Noto-B);
    height: 150px;
    width: 140px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
  }

  .nodeicon3 {
    font-family: var(--font-family-Noto-B);
    height: 50px;
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }

  .nodeicon4 {
    font-family: var(--font-family-Noto-B);
    height: 50px;
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
  }

  .nodeicon5 {
    font-family: var(--font-family-Noto-B);
    height: 45px;
    width: 160px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }

  .nodeline {
    position: absolute;
    width: 71px;
    height: 20px;
    border-right: 1px solid #D3D3D3;
  }

  .nodeline2 {
    position: absolute;
    width: 101px;
    height: 20px;
    border-right: 1px solid #D3D3D3;
  }

  .TeamColumn {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 180px;
    overflow-x: hidden;

    .nodeicon6 {
      font-family: var(--font-family-Noto-B);
      height: 45px;
      width: 155px;
      padding: 5px;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #DEDEDE;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
    }
  }

  .TeamColumn::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .TeamColumn::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  .TeamColumn::-webkit-scrollbar-corner {
    background-color: none;
  }

  .TeamColumn::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: #fff;
  }

}

@include laptop {
  .FC_logo {
    position: relative;
    top: 0px;
    left: 80px;
    width: 80px;

    .Logoimg {
      width: 80px;
    }

    .MenuName {
      width: 80px;
      font-size: 16px;
    }

    .MenuName2 {
      width: 80px;
      font-size: 21px;
    }
  }

  .FC_logo2 {
    left: 50px;
    width: 80px;

    .Logoimg {
      width: 80px;
    }

    .MenuName {
      font-size: 16px;
      width: 80px;
    }

    .MenuName2 {
      font-size: 13px;
      width: 80px;
    }
  }


  .TabPanel {
    margin-top: 20px;

    .nodeicon {
      height: 100px;
      width: 120px;
    }

    .nodeicon2 {
      height: 100px;
      width: 120px;
    }

    .nodeline {
      width: 61px;
    }

    .nodeicon5 {
      width: 120px;
    }

    .TeamColumn {
      height: 120px;

      .nodeicon6 {
        width: 115px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}