.FC_logo {
  position: relative;
  top: -80px;
  width: 140px;
  
  .MenuName {
    font-size: 24px;
    font-weight: bold;
    color: #DEDEDE;
  }
  .MenuName2 {
    font-size: 21px;
    font-weight: bold;
    color: #DEDEDE;
  }
}

.FC_logo2 {
  position: relative;
  top: -80px;
  left: -75px;
  width: 140px;
  
  .MenuName {
    font-size: 24px;
    font-weight: bold;
    color: #DEDEDE;
  }
  .MenuName2 {
    font-size: 21px;
    font-weight: bold;
    color: #DEDEDE;
  }
}

.nodeicon {
  height: 150px;
  width: 140px;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.nodeicon2 {
  height: 150px;
  width: 140px;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

.nodeicon3 {
  height: 50px;
  width: 200px;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.nodeicon4 {
  height: 50px;
  width: 200px;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

.nodeline {
  position: absolute;
  width: 71px;
  height: 20px;
  border-right: 1px solid #D3D3D3;
}

.nodeline2 {
  position: absolute;
  width: 101px;
  height: 20px;
  border-right: 1px solid #D3D3D3;
}