.perform_content {
  font-family: var(--font-family-Noto-M);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;

  .approval_button {
    width: 100px;
    height: 35px;
    background-color: #746E58;
    border: 1px solid #746E58;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font-family-Noto-B);
    color: #fff;
  }
}