@import "./style/mixin";
@import "./style/Common/scrollbar.scss";

// fonts
@font-face {
  font-family: "Noto sans KR-light";
  src: url("./assets/fonts/NotoSansKR-Light.ttf");
}

@font-face {
  font-family: "Noto sans KR-Regular";
  src: url("./assets/fonts/NotoSansKR-Regular.ttf");
}

@font-face {
  font-family: "Noto sans KR-Medium";
  src: url("./assets/fonts/NotoSansKR-Medium.ttf");
}

@font-face {
  font-family: "Noto sans KR-Bold";
  src: url("./assets/fonts/NotoSansKR-Bold.ttf");
}

:root {
  // colors
  --light-color: #ffffff;
  --chainlinker-color: #76cb7e;
  // typography
  --font-family-Noto-L: "Noto sans KR-Light";
  --font-family-Noto-R: "Noto sans KR-Regular";
  --font-family-Noto-M: "Noto sans KR-Medium";
  --font-family-Noto-B: "Noto sans KR-Bold";
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  // transition
  --default-transition: all 300ms ease-in-out;
  // box shadow
  --light-shadow1: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}

// color mode toggle mixins
@mixin lightMode {
  --primary-color: rgba(69, 197, 82, 0.75);
  --secondary-color: #fbfbfb;
  --background-color: #fbfbfb;
  --side-link-hover-color: #f5f5f5;
  --side-link-click-color: rgba(221, 221, 221, 0.37);
  --side-text-color: #000;
  --base-text-color: #676767;
  --scroll-track-bg-color: #fff;
  --scroll-thumb-bg-color: #e9e9e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: var(--font-family-Noto-R);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  scrollbar-color: #929292;

  @include lightMode();
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  background-color: var(--background-color);
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  min-height: calc(100vh - 60px);
  transition: margin-left 0.3s ease;
}

// 데스크탑 기준 전체 레이아웃
.content {
  width: 100%;
  height: 100vh;
  padding: 20px 15px;

  .content_header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    gap: 5px;

    .main_header {
      color: #8f8f8f;
      font-family: var(--font-family-Noto-R);
    }
  }

  .sub_header {
    color: #000000;
    font-family: var(--font-family-Noto-B);
    margin-bottom: 10px;
  }

  .content_container {
    width: 100%;
    height: 95%;

    .css-a5mhaz {
      padding: 0px;
    }

    .container {
      height: 84vh;
      background-color: white;
      border: 1px solid #dedede;
      border-radius: 10px;
      padding: 39px 40px 30px 40px;
      overflow: hidden;
    }

    .main_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header_name {
        font-family: var(--font-family-Noto-B);
        font-size: 32px;
        color: #c7c7c7;
        margin-top: 15px;
      }

      .header_name_sm {
        font-family: var(--font-family-Noto-R);
        font-size: 16px;
        color: #c7c7c7;
        margin-top: 15px;
      }

      .input-wrapper {
        position: relative;
      }

      .input_form {
        width: 350px;
        height: 40px;
        border: 1px solid #dedede;
        border-radius: 10px;
        padding: 10px;
        padding-right: 30px;
      }

      .input_form:hover {
        border: 1px solid #dedede;
      }

      .input_form:focus-visible {
        outline: none !important;
        border: 1px solid #dedede;
      }

      .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
      }
    }

    .main_header2 {
      .header_name_bg {
        font-family: var(--font-family-Noto-M);
        font-size: 32px;
        color: #000;
        margin-top: 15px;
        padding: 0 15px;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin: 15px auto;
      padding-left: 120px;

      li {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        transform: all 0.3s;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        width: 16px; // 아이콘의 너비 조정
        height: 16px; // 아이콘의 높이 조정
      }
    }

    .pagination li {
      &:active,
      &.active {
        background-color: rgba(199, 199, 199, 0.75);
        color: rgb(36, 36, 36);
        font-weight: bold;
      }
    }
  }

  .project_slide {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--font-family-Noto-R);
    width: 460px;
    height: 30px;
    font-size: 14px;
    background-color: #45c552;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    box-shadow: var(--light-shadow1);
    transition: transform 0.3s ease-in-out;
    z-index: 999;

    .additional_content_title {
      color: #ffffff;

      .date_content {
        overflow: hidden;
        transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }

      .date_content.visible {
        opacity: 1;
      }

      .date_header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
    }

    .img_rotate {
      transform: rotate(180deg);
    }
  }

  .additional_content {
    @include custom-scrollbar();
    position: fixed;
    bottom: -600px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 600px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    font-size: 12px;
    padding: 0 15px;
    box-shadow: 0px 0px 5px #d9d9d9;
    z-index: 999;

    &.visible {
      transform: translateY(-394px);
    }

    // .previous_content{
    //   background-color: red;
    //   font-family: var(--font-family-Noto-R);
    //   width: 420px;
    //   height: auto;
    //   border: 1px solid #EEEEEE;
    //   background-color: red;
    //   border-radius: 5px;
    //   transition: 0.3s ease-in-out;
    //   margin-bottom: 5px;
    //   padding: 10px 13px;
    //   margin-bottom: 3px;

    //   div{
    //     gap: 9px;
    //     display: flex;
    //     flex-direction: column;
    //   div:first-child{
    //     margin-bottom: 3px;
    //   }

    //   div {
    //     width: 100%;
    //     height: 33.3%;

    //     .project_content_div_title {
    //       font-family: var(--font-family-Noto-M);
    //       color: #929292;
    //     }

    //     .project_content_div_title_medium {
    //       font-family: var(--font-family-Noto-M);
    //     }
    //   }
    // }
    // }
    .modalplusbtn {
      width: 100%;
      padding: 17px 0;

      button {
        float: right;
        width: 30px;
        height: 30px;

        img {
          width: 100%;
        }
      }
    }

    .project_content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 420px;
      height: auto;
      margin-bottom: 10px;

      .project_name_container {
        width: inherit;
        height: 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        box-shadow: 0px 0px 5px #d9d9d9;
        border-radius: 5px;
        z-index: 999;
        cursor: pointer;

        .name_left {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: var(--font-family-Noto-B);

          .img_rotate {
            transform: rotate(90deg);
          }

          .project_name {
            font-family: var(--font-family-Noto-B);
          }
        }

        .name_leftTop,
        .name_leftBottom {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: var(--font-family-Noto-B);

          .img_rotate {
            transform: rotate(90deg);
          }

          .project_name {
            font-family: var(--font-family-Noto-B);
          }
        }

        .name_right {
          display: flex;
          align-items: center;

          .project_state {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-family: var(--font-family-Noto-M);
            width: 48px;
            height: 20px;
            background-color: #3870ff;
            border-radius: 15px;
            color: #ffffff;
          }
        }
      }

      .project_content_container {
        font-family: var(--font-family-Noto-R);
        width: 420px;
        height: auto;
        border: 1px solid #eeeeee;
        background-color: #eeeeee;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-bottom: 5px;
        padding: 10px 13px;
        margin-bottom: 3px;
        gap: 9px;
        display: flex;
        flex-direction: column;

        div:first-child {
          margin-top: 3px;
        }

        div {
          width: 100%;
          height: 33.3%;

          .project_content_div_title {
            font-family: var(--font-family-Noto-M);
            color: #929292;
          }

          .project_content_div_title_medium {
            cursor: pointer;
            font-family: var(--font-family-Noto-M);
          }
        }
      }

      &.visible .project_content_container {
        display: block;
      }

      .team_documents_content {
        margin-top: -5px;
        border: 1px solid #eee;
        border-radius: 5px;

        .TeamDocBox {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #eee;

          .TeamDoc {
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 45px;

            .DocTitle {
              width: 173px;
              padding-left: 20px;
              color: #323232;
            }
            .DocNum {
              width: 92px;
              color: #323232;
              display: flex;
              align-items: center;
              gap: 5px;

              .docNumControls {
                display: flex;
                flex-direction: column;
              }
            }
            .DocPerson {
              width: 88px;
              color: #323232;
            }
            .edit-button {
              background-color: #45c552;
              color: #fff;
              border: none;
              font-size: 12px;
              padding: 6px 12px;
              border-radius: 5px;
            }
          }
          .TeamDoc:hover {
            background-color: #eeeeee;
          }
          .TeamDocActive {
            background-color: #ffd9d9;
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 45px;

            .DocTitle {
              width: 173px;
              padding-left: 20px;
              color: #323232;
            }
            .DocNum {
              width: 92px;
              color: #323232;
              display: flex;
              align-items: center;
              gap: 5px;

              .docNumControls {
                display: flex;
                flex-direction: column;
              }
            }
            .DocPerson {
              width: 88px;
              color: #323232;
            }
            .edit-button {
              background-color: #45c552;
              color: #fff;
              border: none;
              font-size: 12px;
              padding: 6px 12px;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .previous_content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 420px;
      height: auto;

      .project_name_container {
        width: inherit;
        height: 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        box-shadow: 0px 0px 5px #d9d9d9;
        border-radius: 5px;
        cursor: pointer;

        .name_left {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: var(--font-family-Noto-B);

          .img_rotate {
            transform: rotate(90deg);
          }

          .project_name {
            font-family: var(--font-family-Noto-B);
          }
        }

        .name_right {
          display: flex;
          align-items: center;

          .project_state {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-family: var(--font-family-Noto-M);
            width: 48px;
            height: 20px;
            background-color: #3870ff;
            border-radius: 15px;
            color: #ffffff;
          }
        }
      }

      .previous_content_name {
        font-family: var(--font-family-Noto-R);
        width: 420px;
        height: auto;
        border: 1px solid #eeeeee;
        background-color: #757575;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        margin-bottom: 5px;
        padding: 10px 13px;
        margin-bottom: 3px;
        gap: 9px;
        display: flex;
        flex-direction: column;

        div:first-child {
          margin-top: 3px;
        }

        div {
          width: 100%;
          height: 33.3%;

          .project_content_div_title {
            font-family: var(--font-family-Noto-M);
            color: #929292;
          }

          .project_content_div_title_medium {
            font-family: var(--font-family-Noto-M);
          }
        }
      }

      &.visible .project_content_container {
        display: block;
      }
    }
  }

  .project_slide.visible,
  .additional_content.visible {
    transform: translateY(-600px);
    z-index: 999;

    .additional_content_title {
      color: #ffffff;
    }
  }

  .primary_button {
    @include report-button;
  }

  .white_button {
    @include report-button;
    color: rgba(69, 197, 82, 0.75);
    box-shadow: 0 0 0 2px rgba(69, 197, 82, 0.75) inset;
    background-color: #fbfbfb;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red_button {
    @include report-button;
    background-color: #fbfbfb;
    box-shadow: 0 0 0 2px #c97c7c inset;
    color: #c97c7c;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cancle_button {
    @include report-button;
    background-color: #fbfbfb;
    box-shadow: 0 0 0 2px #929292 inset;
    color: #929292;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 노트북 기준 전체 레이아웃
@include laptop {
  .content {
    .content_header {
      margin-bottom: 10px;
    }

    .content_container {
      .container {
        padding: 20px;
      }

      .main_header {
        .header_name {
          font-size: 28px;
        }

        .header_name_sm {
          font-size: 16px;
          margin-top: 15px;
        }
      }
    }

    .project_slide {
      width: 400px;
      height: 30px;
    }

    .project_slide.visible {
      transform: translateY(-500px);
      z-index: 999;
    }

    .additional_content {
      @include custom-scrollbar();
      bottom: -600px;
      width: 400px;
      height: 500px;

      .project_content {
        width: 370px;

        .project_content_container {
          width: 370px;
        }
      }
    }
  }
}
