.header {
  position: fixed;
  left: 0;
  top:0;  
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: var(--default-transition);

  .header-left {
    display: flex;
    flex-direction: row;

    .SideMenu {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      &:hover{
        background-color: var(--base-text-color);
      }
  
      &.active{
          background-color: var(--primary-color);
          color: var(--light-color);
          box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
      }
    }
  
    .MainLogo {
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    
    .UserTab {
      position: fixed;
      right: 0;
      width: 150px;
      height: 50px;
      padding-left: 12px;
      margin-right: 5px;
      border-left: 2px solid #9E9E9E;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .UserInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

        .UserName {
          color: #fff;
          font-family: var(--font-family-Noto-M);
        }
      }
      .ArrowIcon {
        width: 25px;
        height: 25px;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}