@mixin custom-scrollbar($thumbColor: #A8A8A8, $trackColor: #fff) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: $trackColor;
  }
}