@import "../../../style/mixin";

.regulation_board_list {
  width: 100%;
  height: auto;
  margin-top: 5px;

  .board_header {
    font-family: var(--font-family-Noto-M);
    height: 45px;
    font-size: 17px;
    border-top: 2px solid #DCDCDC;
    background-color: #EEEEEE;
  }

  .board_content {
    font-family: var(--font-family-Noto-R);
    height: 60px;
    font-size: 17px;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    text-align: center;

    .text-overflow {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }
  
    .dropdown {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 300px;


      .dropdown-menu {
        font-family: var(--font-family-Noto-B);
        font-size: 16px;
        cursor: pointer;

        .dropdown_edit {
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 92px;
          height: 35px;
          color: #746E58;
          border: 1px solid #746E58;
          border-radius: 5px;
          font-size: 14px;
          background-color: #ffffff;
        }

        .dropdown_del {
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 92px;
          height: 35px;
          color: #D56D6D;
          border: 1px solid #D56D6D;
          border-radius: 5px;
          font-size: 14px;
          background-color: #ffffff;
        }

      }
    }
  }
}

.regulation_main_bottom {
  font-family: var(--font-family-Noto-R);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 5px 10px;

  .attachment_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .attachment_name {
    color: #9E9E9E;
  }
}

.write_container {

  .write_title {
    font-size: 32px;
    color: #000;
  }

  .write_title::placeholder {
    color: #000;
    font-weight: 500;
  }

  .write_title:focus-visible {
    outline: none !important;
  }

  .writor_container {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    .write_info {
      color: #9E9E9E;
    }

    .write_border {
      color: #9E9E9E;
    }
  }
}


.detail_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
  padding: 0 15px;

  .info_content {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    .write_info {
      color: #9E9E9E;
    }

    .write_border {
      color: #9E9E9E;
    }
  }

  .btn_content {
    display: flex;
    position: relative;
    top: -10px;
    gap: 10px;

    .resize_button {
      margin-top: 5px;
    }

    button {
      margin-top: 10px;
    }
  }
}


@include laptop {
  .regulation_board_list {
    .board_content {
      height: 55px;

      .dropdown {

        .dropdown-menu {
          font-size: 14px;

          .dropdown_edit {
            width: 80px;
            height: 30px;
          }

          .dropdown_del {
            width: 80px;
            height: 30px;
          }
        }
      }
    }
  }

  .DesktopInput {
    display: none;
  }

  .LaptopInput {
    display: block;
  }
}

;