@import '../../Common/board.scss';
@import '../../Common/scrollbar.scss';

.mail_container {
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .mail_header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mail_header_left {
      display: flex;
      gap: 10px;
      
      .image-container {
        position: relative;
      }
      
      .tooltip {
        display: flex;
        width: 65px;
        font-size: 12px;
        font-family: var(--font-family-Noto-M);
        visibility: hidden;
        background-color: var(--primary-color);
        color: black;
        padding: 4px 8px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        left: 100%;
        transform: translateX(-20%);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      .image-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      img {
        width: 26px;
        height: 25px;
        cursor: pointer;
      }
    }

    .mail_header_right {
      display: flex;
      align-items: center;
      gap: 10px;
      
      .setting_box {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .Arrow_left {
          width: 20px;
          height: 20px;
          filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
          transform: rotate(270deg);
        }

        .Arrow_right {
          width: 20px;
          height: 20px;
          filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
          transform: rotate(90deg);
        }

        img {
          width: 26px;
          height: 25px;
        }
      }

      .addtional_setting {
        display: flex;
        align-items: center;
        gap: 15px;
        width: auto;
        height: 35px;
        overflow: visible;
        max-width: 0;
        opacity: 0;
        transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
        transform: scaleY(0);

        &.visible {
          max-width: 1000px;
          height: 35px;
          overflow: visible;
          width: auto;
          opacity: 1;
          transform: scaleY(1);
        }

        .input-wrapper {
          position: relative;

          .input_form {
            width: 250px;
            height: 35px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
            padding-left: 40px;
          }
    
          .input_form:hover {
            border: 1px solid var(--primary-color);
          }
    
          .input_form:focus-visible {
            outline: none !important;
            border: 1px solid var(--primary-color);
          }
    
          .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
          }
        }

        .spam_button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 35px;
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          background-color: var(--primary-color);
          color: black;
          font-family: var(--font-family-Noto-M);
        }

        .card_button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 110px;
          height: 35px;
          border: 1px solid var(--primary-color);
          color: black;
          font-family: var(--font-family-Noto-M);
          border-radius: 5px;
        }

        .select_duedate_box {
          position: relative;
          display: inline-block;
          width: 240px;
          height: 35px;
          padding: 0 10px;
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          cursor: pointer;
          z-index: 1;

          .selected_option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
  
            span {
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
            }
    
            img {
              width: 15px;
              height: 15px;
              filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
              transform: rotate(180deg);
            }
          }

          .dropdown_menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            background-color: #fff;
            border-right : 1px solid var(--primary-color);
            border-left : 1px solid var(--primary-color);
            border-bottom : 1px solid var(--primary-color);
            border-top: none;
            border-radius: 0 0 5px 5px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 12px;
            font-family: var(--font-family-Noto-M);
          }
          
          .dropdown_menu li {
            padding: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
          
          .dropdown_menu li:hover {
            background-color: #f0f0f0;
          }
        }
      }

      .select_box {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 35px;
        padding: 0 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        cursor: pointer;

        .selected_option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          span {
            font-size: 14px;
            font-family: var(--font-family-Noto-M);
          }
  
          img {
            width: 15px;
            height: 15px;
            filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
            transform: rotate(180deg);
          }
        }

        .dropdown_menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 10;
          background-color: #fff;
          border-right : 1px solid var(--primary-color);
          border-left : 1px solid var(--primary-color);
          border-bottom : 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
        }
        
        .dropdown_menu li {
          padding: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        
        .dropdown_menu li:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }



  .mail_content {
    @include custom-scrollbar();
    height: auto;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    border: 1px solid #EEEEEE;
    border-radius: 5px;

    .mail_board_list {
      @include board_list;
      margin-top: 0;
      box-shadow: var(--light-shadow1);

      .board_header {
        border-top: none;
        
        th:nth-of-type(2) {
          text-align: left;
          padding-left: 40px;
        }
        th:nth-of-type(3) {
          text-align: left;
          padding-left: 200px;
        }
      }

      .board_container {
        font-family: var(--font-family-Noto-M);

        .board_content {
          height: 60px;
          border-bottom: none;

          td:nth-of-type(2) {
            text-align: left;
            padding-left: 20px;
          }
          td:nth-of-type(3) {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            div {
              display: flex;
              gap: 10px;
            }

            span {
              color: #939393;
              font-size: 14px;
            }
          }
        }

        .mail_detail_overlay {

          .mail_detail_wrapper {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;

            &.visible {
              max-height: 500px;
            }
          }

          td:nth-of-type(1) {
            width: 100%;
            height: 100%;

            .mail_detail_header {
              height: 50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 30px;
              background-color: #EDEDED;
              font-size: 18px;

              img {
                width: 25px;
                height: 25px;
              }
            }

            .mail_detail_content {
              height: 350px;
              background-color: #F3F3F3;
              display: flex;
              flex-direction: column;
              padding: 15px 25px;

              .mail_detail_content_top {
                display: flex;
                flex-direction: column;
                gap: 10px;

                div:nth-of-type(1) {
                  display: flex;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: end;

                  span {
                    font-size: 14px;
                    color: #6A6A6A;
                  }
                }

                div:nth-of-type(2) {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  span {
                    font-size: 14px;
                    color: #545454;
                  }

                  img {
                    width: 14px;
                    height: 14px;
                  }
                }
              }

              .mail_detail_content_middle {
                @include custom-scrollbar();
                width: 100%;
                height: 200px;
                margin: 20px 0;
                padding: 20px;
                background-color: #fff;
                overflow-y: auto;
              }

              .mail_detail_content_bottom {
                display: flex;
                justify-content: end;
              }
            }
          }
        }
      }
    }
  }
}

.mail_pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FBFBFB;
  border-top: 1px solid #E3E3E3;

  .pagination {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 15px auto;

    li {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      transform: all 0.3s;
      font-size: 16px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 16px; // 아이콘의 너비 조정
      height: 16px; // 아이콘의 높이 조정
    }
  }

  .pagination li {

    &:active,
    &.active {
      background-color: rgba(199, 199, 199, 0.75);
      color: rgb(36, 36, 36);
      font-weight: bold;
    }
  }
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
  }

  input:checked + span {
    background-color: #fff;
    border-color: #DCDCDC;
  }

  span:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked + span:after {
    display: block;
  }

  span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}