@import '../../mixin';
@import '../../Common/board.scss';
@import '../../Common/scrollbar.scss';

.mail_container {
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .mail_header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mail_header_left {
      display: flex;
      gap: 20px;

      .image-container {
        position: relative;
      }

      .tooltip {
        display: flex;
        width: 65px;
        font-size: 12px;
        font-family: var(--font-family-Noto-M);
        visibility: hidden;
        background-color: var(--primary-color);
        color: black;
        padding: 4px 8px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        left: 100%;
        transform: translateX(-20%);
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .image-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      img {
        width: 26px;
        height: 25px;
        cursor: pointer;
      }
    }

    .mail_header_right {
      display: flex;
      align-items: center;
      gap: 10px;

      .setting_box {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .Arrow_left {
          width: 20px;
          height: 20px;
          filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
          transform: rotate(270deg);
        }

        .Arrow_right {
          width: 20px;
          height: 20px;
          filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
          transform: rotate(90deg);
        }

        img {
          width: 26px;
          height: 25px;
        }
      }

      .addtional_setting {
        display: flex;
        align-items: center;
        gap: 15px;
        width: auto;
        height: 35px;
        overflow: visible;
        max-width: 0;
        opacity: 0;
        transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
        transform: scaleY(0);

        &.visible {
          max-width: 1000px;
          height: 35px;
          overflow: visible;
          width: auto;
          opacity: 1;
          transform: scaleY(1);
        }

        .input-wrapper {
          position: relative;

          .input_form {
            width: 250px;
            height: 35px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
            padding-left: 40px;
          }

          .input_form:hover {
            border: 1px solid var(--primary-color);
          }

          .input_form:focus-visible {
            outline: none !important;
            border: 1px solid var(--primary-color);
          }

          .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
          }
        }

        .card_button {
          @include report-button;
          display: flex;
          align-items: center;
          background-color: #FFFFFF;
          border: 1px solid var(--primary-color);
          height: 35px;
          color: #000;

          &:hover {
            background-color: var(--primary-color);
          }
        }

        .select_duedate_box {
          position: relative;
          background-color: #fff;
          display: inline-block;
          width: 240px;
          height: 35px;
          padding: 0 10px;
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          cursor: pointer;
          z-index: 1;

          .selected_option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

            span {
              font-size: 14px;
              font-family: var(--font-family-Noto-M);
            }

            img {
              width: 15px;
              height: 15px;
              filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
              transform: rotate(180deg);
            }
          }

          .dropdown_menu {
            position: absolute;
            top: 30px;
            left: -1px;
            z-index: 10;
            background-color: #fff;
            border: 1px solid var(--primary-color);
            border-top: none;
            border-radius: 0 0 5px 5px;
            list-style-type: none;
            width: 240px;
            font-size: 12px;
            font-family: var(--font-family-Noto-M);
          }

          .dropdown_menu li {
            padding: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }

          .dropdown_menu li:hover {
            background-color: #f0f0f0;

            .datepicker {
              background-color: #f0f0f0;
            }
          }

          .due_Date {
            display: flex;

            img {
              width: 15px;
              height: 15px;
            }

            span {
              padding: 0 10px 0 5px;
            }

            .react-datepicker-wrapper{
              .datepicker {
                width: 85px;
              }
            }
          }
        }
      }

      .select_box {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 35px;
        padding: 0 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;

        .selected_option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          span {
            font-size: 14px;
            font-family: var(--font-family-Noto-M);
          }

          img {
            width: 15px;
            height: 15px;
            filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
            transform: rotate(180deg);
          }
        }

        .dropdown_menu {
          position: absolute;
          top: 30px;
          left: -1px;
          z-index: 10;
          background-color: #fff;
          border: 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          width: 110px;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
        }

        .dropdown_menu li {
          padding: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .dropdown_menu li:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }



  .mail_content {
    @include custom-scrollbar();
    height: auto;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    border: 1px solid #EEEEEE;
    border-radius: 5px;

    .mail_board_list {
      @include board_list;
      margin-top: 0;
      box-shadow: var(--light-shadow1);

      .board_header {
        border-top: none;
        font-size: 14px;

        th:nth-of-type(2) {
          text-align: left;
          padding-left: 40px;
        }

        th:nth-of-type(3) {
          text-align: left;
          padding-left: 200px;
        }
      }

      .board_container {
        font-family: var(--font-family-Noto-M);

        .board_content {
          height: 44.3px;
          border-bottom: none;
          font-size: 12px;

          td:nth-of-type(2) {
            text-align: left;
            padding-left: 20px;
            font-size: 14px;
          }

          td:nth-of-type(3) {
            height: 44.3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            div {
              display: flex;
              gap: 10px;
              
              &:hover {
                font-family: var(--font-family-Noto-B);
              }

              &.clicked {
                color: var(--primary-color);
              }

              .Blank{
                width: 11px;
              }
            }

            span {
              color: #939393;
              font-size: 14px;
            }
          }

          td:nth-of-type(4) {
            font-size: 12px;
            cursor: pointer;
          }

          td:nth-of-type(5) {
            div {
              border: 1px solid black;
              border-radius: 3px;
              color: #C54D45;
              padding: 5px 8px;
              cursor: pointer;
            }
          }

          td:nth-of-type(6) {
            color: #717171;
          }
        }

        .mail_detail_overlay {

          .mail_detail_wrapper {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;

            &.visible {
              max-height: 500px;
            }
          }

          td:nth-of-type(1) {
            width: 100%;
            height: 100%;

            .mail_detail_header {
              height: 50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 30px;
              background-color: #EDEDED;
              font-size: 18px;

              .mail_reservation {
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);
                border-radius: 5px;
                padding: 4px 8px;
                color: #fff;
                font-size: 14px;
                margin-right: 20px;
              }

              .button_wrap {
                display: flex;
                gap: 15px;
                
                .image-container {
                  position: relative;
                  cursor: pointer;
                }
          
                .tooltip {
                  display: flex;
                  width: 65px;
                  font-size: 12px;
                  font-family: var(--font-family-Noto-M);
                  visibility: hidden;
                  background-color: var(--primary-color);
                  color: black;
                  padding: 4px 8px;
                  border-radius: 5px;
                  position: absolute;
                  z-index: 999;
                  bottom: 50%;
                  right: 100%;
                  transform: translateX(20%);
                  opacity: 0;
                  transition: opacity 0.3s ease;
                }
          
                .image-container:hover .tooltip {
                  visibility: visible;
                  opacity: 1;
                }
  
                img {
                  width: 25px;
                  height: 25px;
                }
              }
            }
            .mail_detail_content {
              height: 350px;
              background-color: #F3F3F3;
              display: flex;
              flex-direction: column;
              padding: 15px 25px;

              .mail_detail_content_top {
                display: flex;
                flex-direction: column;
                gap: 10px;

                div:nth-of-type(1) {
                  display: flex;
                  justify-content: space-between;
                  gap: 10px;
                  align-items: end;

                  span {
                    font-size: 14px;
                    color: #6A6A6A;
                  }

                  .DownFile{
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    
                    .rotate_Arrow {
                      transform: rotate(180deg);
                    }

                    .DownFile_list {
                      display: flex;
                      flex-direction: column;
                      position: absolute;
                      top: 25px;
                      right: 0;
                      width: 250px;
                      height: auto;
                      border: 1px solid #000;
                      background-color: #fff;
                      font-size: 11px;
                      padding: 5px;
                    }
                  }
                }

                div:nth-of-type(2) {
                  position: relative;
                  display: flex;
                  align-items: center;
                  gap: 5px;

                  span {
                    font-size: 14px;
                    color: #545454;
                  }

                  img {
                    width: 14px;
                    height: 14px;
                  }

                  .recipient_hover {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                  }

                  .recipient_list {
                    position: absolute;
                    top: -80px;
                    left: 450px;
                    max-width: 450px;
                    max-height: 70px;
                    padding: 10px;
                    background-color: #f9f9f9;
                    border: 1px solid #ddd;
                  }
                }
              }

              .mail_detail_content_middle {
                @include custom-scrollbar();
                width: 100%;
                height: 200px;
                margin: 20px 0;
                padding: 20px;
                background-color: #fff;
                overflow-y: auto;
              }

              .mail_detail_content_bottom {
                display: flex;
                justify-content: end;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.mail_pagination {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  padding: 5px 0;
  background-color: #FBFBFB;
  border-top: 1px solid #E3E3E3;

  .Pagination {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 15px auto;

    li {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      transform: all 0.3s;
      font-size: 16px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 16px; // 아이콘의 너비 조정
      height: 16px; // 아이콘의 높이 조정
    }

    .PageInput {
      margin-left: 15px;
      width: 46px;
      height: 23px;
      border-radius: 3px;
      border: 1px solid #45C552;
      text-align: center;
    }

    .PageInput:focus {
      outline: none;
    }

    img {
      cursor: pointer;
    }

    .PagesTotal {
      margin-right: 15px;
    }
  }

  .pagination li {

    &:active,
    &.active {
      background-color: rgba(199, 199, 199, 0.75);
      color: rgb(36, 36, 36);
      font-weight: bold;
    }
  }
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
  }

  input:checked+span {
    background-color: #fff;
    border-color: #DCDCDC;
  }

  span:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked+span:after {
    display: block;
  }

  span:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}


// 모달창
.modal_container_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 16px;
  }

  button {
    @include report-button;
    padding: 3px 12px;
    background-color: #E9E9E9;
    color: #545454;
    border: 1px solid #E3E3E3;
  }

  input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    border-bottom: solid 1px #D1D1D1;
  }
  input:focus {
    outline: none;
    border-bottom: solid 1px var(--primary-color);
  }
}

.modal_spamlist_wrap {
  width: 100%;
  height: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.mobile_card_wrap {
  display: flex;
  justify-content: center;
}

.mobile_card_content {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 255px;
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;

  div {
    font-size: 12px;
  }

  .mobile_user_info {
    display: flex;
    flex-direction: column; 

    div {
      font-size: 8px;
      font-family: var(--font-family-Noto-R);

      .mobile_user_info_bold {
        font-size: 9px;
        font-family: var(--font-family-Noto-B);
      }

      .mobile_user_info_mid {
        font-size: 8px;
        font-family: var(--font-family-Noto-M);
      }

      .mobile_user_info_Reg {
        font-size: 7px;
        font-family: var(--font-family-Noto-R);
      }
    }
  }
}