@import '../../Common/scrollbar.scss';
@import '../../mixin';

.write_mail_container {
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .write_mail_header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mail_header_left {
      display: flex;
      gap: 10px;

      .send_button {
        @include report-button;
        color: #000;
      }

      .basic_button {
        @include report-button;
        background-color: #fff;
        color: #000;
        border: 1px solid var(--primary-color);
      }
    }
    
    .mail_header_right {
      display: flex;
      align-items: center;
      gap: 10px;

      .select_box {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 35px;
        padding: 0 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        cursor: pointer;

        .selected_option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          span {
            font-size: 14px;
            font-family: var(--font-family-Noto-M);
          }

          img {
            width: 15px;
            height: 15px;
            filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
            transform: rotate(180deg);
          }
        }

        .dropdown_menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 10;
          background-color: #fff;
          border-right: 1px solid var(--primary-color);
          border-left: 1px solid var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
        }

        .dropdown_menu li {
          padding: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .dropdown_menu li:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  
  .write_mail_content {
    font-family: var(--font-family-Noto-M);

    .write_mail_content_top {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;

      .write_form {
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0;

        div {
          width: 6%;
        }

        input {
          width: 94%;
          height: 40px;
          background: none;
          border: none;
          outline: none;
          border-bottom: solid 2px #aaaaaa;
        }

        input:focus {
          outline: none;
          border-bottom: solid 2px var(--primary-color);
        }

        .input_recipients {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 94%;
          height: 40px;
          gap: 5px;
          border-bottom: solid 2px #aaaaaa;

          &.clicked {
            border-bottom-color: var(--primary-color);
          }

          .recipient {
            display: flex;
            align-items: center;
            flex: 0 1 auto;
            width: auto;
            background-color: var(--primary-color);
            border-radius: 15px;
            padding: 5px 10px;
            margin-bottom: 3px;
            font-size: 12px;

            .remove {
              cursor: pointer;
              margin-left: 5px;
            }
          }

          #recipient_input_element {
            min-width: 0;
            width: auto;
            height: inherit;
            flex: 1 1 auto;
            background: none;
            border: none;
            outline: none;
          }

          #recipient_input_element:focus {
            outline: none;
          }
        }

        .autocomplete_dropdown {
          @include custom-scrollbar;
          position: absolute;
          top: 100%;
          left: 6%;
          z-index: 10;
          background-color: #fff;
          border: 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 94%;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
          max-height: 150px;
          overflow-y: auto;

          li {
            padding: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }

          li:hover {
            background-color: #f0f0f0;
          }
        }
      }

      .attach_form {
        display: flex;
        align-items: center;
        padding: 10px 0;

        div {
          display: flex;
          align-items: start;
          width: 6%;
          height: 80px;
        }

        label {
          width: 94%;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #EBEBEB;
          border-radius: 5px;
          color: #C7C7C7;

          input {
            display: none;
          }

          span:nth-of-type(1) {
            font-size: 18px;
          }
          span:nth-of-type(2) {
            font-size: 14px;
          }
        }
        input:focus { outline: none; }
      }
    }

    .write_mail_content_bottom {
      @include custom-scrollbar();
    }
  }
}
