@import '../../Common/scrollbar.scss';
@import '../../mixin';

.write_mail_container {
  width: 100%;
  height: 100%;
  padding-right: 20px;

  .write_mail_header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mail_header_left {
      display: flex;
      gap: 10px;

      .mail_loading {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        z-index: 999;
      }

      .send_button {
        @include report-button;
        color: #000;
      }

      .disabled_send_button {
        @include report-button;
        background-color: #FF8181;
        color: #000;
        cursor: default;
      }

      .basic_button {
        @include report-button;
        display: flex;
        align-items: center;
        position: relative;
        background-color: #fff;
        color: #000;
        border: 1px solid var(--primary-color);

        img {
          width: 10px;
          height: 10px;
          filter: invert(62%) sepia(92%) saturate(388%) hue-rotate(73deg) brightness(90%) contrast(80%);
          margin-left: 10px;
        }

        .mail_reservation_container {
          z-index: 99;
          position: absolute;
          top: 50px;
          left: 0;
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 383px;
          height: 133px;
          border: 1px solid var(--primary-color);
          padding: 20px;
          border-radius: 5px;
          background-color: #FBFBFB;
          font-family: --var(--font-family-Noto-M);

          .mail_reservation_title {
            font-size: 13px;
            text-align: left;
          }

          .mail_reservation_content {
            display: flex;
            gap: 15px;

            .mail_reservation_content_date {
              .datepicker {
                width: 155px;
                height: 38px;
                border: 1px solid #D8D8D8;
                border-radius: 2px;
                font-size: 16px;
                color: #000000;
                background-color: #FFFFFF;
              }
              .datepicker::placeholder {
                color: #000000;
              }
            }

            .mail_reservation_content_time {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 80px;
              height: 38px;
              gap: 10px;
              border: 1px solid #D8D8D8;
              border-radius: 2px;
              font-size: 16px;
              background-color: #FFFFFF;

              img {
                width: 15px;
                height: 15px;
                filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
                transform: rotate(180deg);
              }
              .time_dropdown {
                @include custom-scrollbar;
                z-index: 99;
                position: absolute;
                top: 36px;
                width: 80px;
                height: auto;
                max-height: 200px;
                overflow-y: auto;
                border: 1px solid #D8D8D8;
                background-color: #FFFFFF;
                

                li {
                  padding: 5px 10px;
                  text-align: left;
                  font-size: 12px;

                  &:hover {
                    background-color: #F1F1F1;
                  }
                }
              }
            }
          }

          .mail_reservation_footer {
            font-size: 10px;
            color: #FF5A5A;
          }
        }
      }
    }
    
    .mail_header_right {
      display: flex;
      align-items: center;
      gap: 10px;

      .select_box {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 35px;
        padding: 0 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        cursor: pointer;

        .selected_option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          span {
            font-size: 14px;
            font-family: var(--font-family-Noto-M);
          }

          img {
            width: 15px;
            height: 15px;
            filter: invert(20%) sepia(0%) saturate(1007%) hue-rotate(164deg) brightness(88%) contrast(86%);
            transform: rotate(180deg);
          }
        }

        .dropdown_menu {
          position: absolute;
          top: 95%;
          left: -0.5%;
          z-index: 10;
          background-color: #fff;
          border-right: 1px solid var(--primary-color);
          border-left: 1px solid var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          margin: 0;
          padding-top: 5%;
          width: 101%;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
        }

        .dropdown_menu li {
          padding: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .dropdown_menu li:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  
  .write_mail_content {
    font-family: var(--font-family-Noto-M);

    .write_mail_content_top {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;

      .write_form {
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0;

        .write_form_title {
          width: 6%;
        }

        .write_form_input {
          width: 94%;
          height: 40px;
          background: none;
          border: none;
          outline: none;
          border-bottom: solid 2px #aaaaaa;
        }

        .write_form_input:focus {
          outline: none;
          border-bottom: solid 2px var(--primary-color);
        }

        .input_recipients {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 94%;
          height: 40px;
          gap: 5px;
          border-bottom: solid 2px #aaaaaa;

          &.clicked {
            border-bottom-color: var(--primary-color);
          }

          &.marginleft {
            margin-left: 2px;
          }

          .recipient {
            display: flex;
            align-items: center;
            flex: 0 1 auto;
            width: auto;
            background-color: var(--primary-color);
            border-radius: 15px;
            padding: 5px 10px;
            margin-bottom: 3px;
            font-size: 12px;

            .remove {
              cursor: pointer;
              margin-left: 5px;
            }
          }

          .notrecipient {
            display: flex;
            align-items: center;
            flex: 0 1 auto;
            width: auto;
            background-color: #FF8181;
            border-radius: 15px;
            padding: 5px 10px;
            margin-bottom: 3px;
            font-size: 12px;

            .remove {
              cursor: pointer;
              margin-left: 5px;
            }
          }

          #recipient_input_element {
            min-width: 0;
            width: auto;
            height: inherit;
            flex: 1 1 auto;
            background: none;
            border: none;
            outline: none;
          }

          #recipient_input_element:focus {
            outline: none;
          }
        }

        .add_receiver {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2%;
          cursor: pointer;
        }

        .autocomplete_dropdown {
          @include custom-scrollbar;
          position: absolute;
          top: 100%;
          left: 6%;
          z-index: 10;
          background-color: #fff;
          border: 1px solid var(--primary-color);
          border-top: none;
          border-radius: 0 0 5px 5px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 94%;
          font-size: 12px;
          font-family: var(--font-family-Noto-M);
          max-height: 150px;
          overflow-y: auto;

          li {
            padding: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &.selected {
              background-color: #e2e2e2;
            }
          }

          li:hover {
            background-color: #f0f0f0;
          }
        }
      }

      .attach_form {
        display: flex;
        align-items: center;
        padding: 10px 0;

        div {
          display: flex;
          align-items: start;
          width: 6%;
          height: 80px;
        }

        label {
          width: 94%;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #EBEBEB;
          border-radius: 5px;
          color: #C7C7C7;

          input {
            display: none;
          }

          span:nth-of-type(1) {
            font-size: 18px;
          }
          span:nth-of-type(2) {
            font-size: 14px;
          }

          .label_drop_container {
            width: inherit;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        
        input:focus { outline: none; }

        .attachment_list {
          @include custom-scrollbar;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          width: 100%;
          color: #000;
          padding: 10px 0;
          
          .attachment_item {
            display: flex;
            font-size: 12px;
            gap: 10px;
            width: 100%;
            height: 20px;
            padding: 0 10px;
            span {
              font-size: 12px;
            }
          }

          .attachment_item:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }

    .write_mail_content_bottom {
      div {
        @include custom-scrollbar();
      }
    }
  }
}


@include laptop {
  .write_mail_container {
    .write_mail_content {
      .write_mail_content_top {
        gap: 0;
      }
    }
  }
}